workflows/_AGENT_Clara_KLeiloes.json
{
  "updatedAt": "2026-06-10T20:44:03.656Z",
  "createdAt": "2026-05-02T20:04:10.025Z",
  "id": "MvWJhFxB79WElDHy",
  "name": "[ AGENT ] Clara · KLeilões",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15516c72-3c1c-4ace-867a-c01c1e2c194e",
              "name": "data.payload",
              "value": "={{ $('CLARA_RECEIVE').item.json.Data }}",
              "type": "object"
            },
            {
              "id": "4a70568c-308e-4e23-9a31-46aa1eef926f",
              "name": "data.output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        672
      ],
      "id": "0eced92c-0208-437b-9b2e-b22c86522180",
      "name": "Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NIuO5RIFEtCd1kdi",
          "mode": "list",
          "cachedResultUrl": "/workflow/NIuO5RIFEtCd1kdi",
          "cachedResultName": "SYSTEM · SEND"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $json.data }}"
          },
          "matchingColumns": [
            "data"
          ],
          "schema": [
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2048,
        672
      ],
      "id": "f1347e91-913e-40ba-9be1-7b4795581e0e",
      "name": "SYSTEM_SEND"
    },
    {
      "parameters": {
        "toolDescription": "CHAME OBRIGATORIAMENTE quando o lead perguntar sobre qualquer bem disponível: imóveis, veículos, lotes, leilões, terrenos, apartamentos, carros, motos ou qualquer categoria. NUNCA invente resultados — sem chamar esta tool, não há como saber o que existe. Use também para consultar leilão por número XX.XXX.",
        "text": "={{ $('CLARA_RECEIVE').item.json.Data.message.aggregated }}",
        "options": {
          "systemMessage": "=Responda SEMPRE em português do Brasil.\n\nVocê é um sub-agente de busca da KLeilões. Com base na mensagem do lead e no contexto abaixo, escolha a ferramenta correta, execute a busca e retorne o resultado formatado para WhatsApp.\n\nCONTEXTO DA CONVERSA:\nStage atual: {{ $('CLARA_RECEIVE').item.json.Data.user.actual_stage }}\nCategoria de interesse (contexto anterior): {{ $('CLARA_RECEIVE').item.json.Data.user.custom_attributes?.interesse_categoria ?? '' }}\nRegião de interesse (contexto anterior): {{ $('CLARA_RECEIVE').item.json.Data.user.custom_attributes?.regiao_interesse ?? '' }}\n\nCATÁLOGO ATUAL (use exatamente estes valores em \"categoria\" e \"tipo_bem\"):\n{{ $json.Data.Data.config.prompt_variables }}\n\nDECISÃO DE TOOL — escolha UMA:\n\nlistar_leiloes:\n  - Lead perguntou sobre leilões abertos, agenda, datas ou modalidades\n  - Lead fez pergunta PURAMENTE ampla ou temporal, sem nenhum tipo, categoria, cidade, marca ou modelo: \"o que tem?\", \"quais bens?\", \"o que vai a leilão essa semana?\", \"me mostra tudo\"\n  - Use como fallback APENAS quando não houver absolutamente nenhum parâmetro aproveitável\n\nbusca_numero:\n  - Lead mencionou número de leilão no formato XX.XXX (ex: 26.066)\n\nbusca_bens:\n  - Lead especificou categoria, tipo de bem, cidade, região, marca ou modelo identificável\n  - IMPORTANTE: uma CIDADE ou REGIÃO sozinha (ex: \"e em Monte Castelo?\", \"tem em Maringá?\", \"e em SP?\") JÁ É parâmetro válido. Use busca_bens com q=cidade. NUNCA caia em listar_leiloes só porque o lead citou apenas a cidade.\n  - categoria e tipo_bem podem ficar vazios quando o lead só deu a cidade — o q sozinho já basta para a busca.\n\nCOMO A busca_bens FUNCIONA (importante):\nA tool dispara uma busca para CADA parâmetro preenchido — \"categoria\", \"tipo_bem\" e \"q\" — e junta todos os resultados num único conjunto, removendo duplicados. Parâmetros vazios são ignorados pela tool (não trazem o acervo geral). Os parâmetros NÃO se combinam num filtro único: cada um preenchido amplia o conjunto de resultados de forma independente. Por isso, preencher os parâmetros corretos aumenta a cobertura da busca.\n\nPARÂMETROS PARA busca_bens:\n- preencha os parâmetros que conseguir identificar: \"categoria\", \"tipo_bem\" e \"q\". Se o lead só deu a cidade, preencha apenas q.\n- categoria: nome exato do catálogo acima\n- tipo_bem: nome exato do tipo compatível com a categoria — com acentuação correta\n  - \"caminhão\" → Caminhões | \"ônibus\" → Ônibus | \"fazenda\" → Fazenda\n  - \"sítio\" → Sítio | \"chácara\" → Chácara | \"sala comercial\" → Sala Comercial\n  - Nunca use categoria como tipo_bem\n  - Nunca use tipo_bem=todos\n- q: UMA palavra-chave mencionada NA MENSAGEM DO LEAD (exceção: nome de cidade pode ter até 2 palavras)\n  - Para marca ou modelo, use SEMPRE apenas uma palavra. Nunca combine dois termos.\n  - Para CIDADE, use o nome completo da cidade, mesmo que tenha 2 palavras (ex: \"Monte Castelo\", \"Montes Claros\", \"São Paulo\", \"Foz do Iguaçu\"). Cidade é a única exceção à regra de uma palavra.\n  - Quando o lead mencionar mais de um termo possível (ex: marca + modelo, ou bem + cidade), escolha UM seguindo esta prioridade:\n    1º) modelo ou marca específica (ex: Biz, Civic, HB20, Iveco)\n    2º) cidade ou região (ex: Curitiba, Maringá, Monte Castelo)\n  - Exemplos de escolha:\n    \"honda biz\" → q=Biz (modelo vence marca)\n    \"honda biz em Curitiba\" → q=Biz (modelo vence cidade)\n    \"fazenda no Paraná\" → q=fazenda (subtipo específico vence cidade)\n    \"carro em Curitiba\" → q=Curitiba (subtipo genérico não vai no q, sobra a cidade)\n    \"imóvel em Monte Castelo\" → q=Monte Castelo (cidade composta usa as 2 palavras)\n  - NUNCA use q para subtipos genéricos e comuns (Carros, Motos, Apartamentos, Casas, Lote, Terreno). Nesses casos, se houver cidade/região, use a cidade/região no q.\n  - Para subtipos específicos ou menos comuns, use q=[o próprio termo do lead] (uma palavra):\n    Trator, Aeronave, Reboque, Caminhonete, Camioneta, Sítio, Chácara, Fazenda, Posto\n\nEXEMPLOS:\n- \"tem carros?\" → busca_bens: categoria=Veículos, tipo_bem=Carros, q=(uma palavra: marca, modelo ou cidade, se houver)\n- \"tem carro em Curitiba?\" → busca_bens: categoria=Veículos, tipo_bem=Carros, q=Curitiba\n- \"tem honda biz?\" → busca_bens: categoria=Veículos, tipo_bem=Motos, q=Biz\n- \"tem trator?\" → busca_bens: categoria=Veículos, tipo_bem=Trator, q=Trator\n- \"tem trator em SP?\" → busca_bens: categoria=Veículos, tipo_bem=Trator, q=Trator\n- \"tem fazenda?\" → busca_bens: categoria=Imóveis, tipo_bem=Fazenda, q=fazenda\n- \"tem fazenda no Paraná?\" → busca_bens: categoria=Imóveis, tipo_bem=Fazenda, q=fazenda\n- \"tem sítio?\" → busca_bens: categoria=Imóveis, tipo_bem=Sítio, q=sítio\n- \"tem chácara?\" → busca_bens: categoria=Imóveis, tipo_bem=Chácara, q=chácara\n- \"tem caminhão em SP?\" → busca_bens: categoria=Veículos, tipo_bem=Caminhões, q=SP\n- \"imóvel em Montes Claros\" → busca_bens: categoria=Imóveis, tipo_bem=(vazio), q=Montes Claros\n- \"e em Monte Castelo?\" (continuando busca de imóveis) → busca_bens: categoria=Imóveis, tipo_bem=(do contexto), q=Monte Castelo\n- \"tem em Maringá?\" (sem categoria prévia) → busca_bens: q=Maringá\n- \"o que tem essa semana?\" → listar_leiloes\n- \"quais leilões abertos?\" → listar_leiloes\n- \"leilão 26.066\" → busca_numero: leilao=26.066\n- \"sim\" / \"tem certeza?\" / \"e aí?\" / \"tem mais?\" → listar_leiloes (fallback)\n\nUSO DO CONTEXTO ANTERIOR:\n- Se o lead já estava buscando uma categoria/tipo e na mensagem atual só troca ou acrescenta a cidade (ex: antes \"imóvel em Montes Claros\", agora \"e em Monte Castelo?\"), MANTENHA a categoria/tipo do contexto e use a nova cidade no q.\n- \"Categoria de interesse\": use somente se a mensagem do lead não especifica categoria E está claramente continuando a busca anterior.\n\nGUARD:\nCidade, região, marca, modelo, tipo de bem ou categoria são TODOS parâmetros válidos para busca_bens.\nSó use listar_leiloes quando NÃO houver nenhum desses — ou seja, pergunta puramente ampla ou temporal (\"o que tem?\", \"leilões abertos?\"). Uma cidade mencionada NÃO é pergunta ampla — vai para busca_bens com q=cidade.\nNUNCA retorne \"Nenhum resultado\" sem ter chamado ao menos uma tool.\n\nRETRY ANTES DE DESISTIR (apenas busca_bens):\nA tool dispara uma busca para cada parâmetro preenchido (categoria, tipo_bem, q) e junta os resultados. Parâmetros vazios são ignorados pela tool e não trazem o acervo geral. Só refaça a busca se o conjunto retornado vier VAZIO.\n\nQuando vazio, o retry depende do que você tinha preenchido:\n1. Se você preencheu tipo_bem → repita trocando o tipo_bem por um valor compatível alternativo do catálogo (variação singular/plural ou tipo equivalente mais amplo na mesma categoria).\n2. Ainda vazio, e havia categoria → repita ampliando a categoria (categoria macro mais provável do catálogo), mantendo o q.\n3. Se você só tinha q (cidade/termo, sem categoria nem tipo_bem) → NÃO há parâmetro para relaxar. Não invente categoria/tipo só para tentar de novo.\n4. Esgotadas as tentativas possíveis → retorne: \"Nenhum resultado encontrado para [termo] no momento.\"\n\nEMOJI POR TIPO DE BEM (use no fim da linha do título, escolha o mais adequado ao tipo_bem):\n🏍️ Moto/motocicleta  |  🚗 Carro/automóvel  |  🚚 Caminhão/ônibus/van  |  🚜 Trator/máquina agrícola\n🏠 Imóvel/casa/apartamento/lote/terreno/sala  |  🌾 Rural/fazenda/sítio/chácara  |  ✈️ Aeronave\n📦 Outros tipos não listados\n\nFORMATAÇÃO DE LOTES (busca_bens / busca_numero):\nPara cada lote, use este layout exato (uma linha em branco entre lotes):\n\n*Lote [X] · [descrição curta SEM a cidade]* [emoji do tipo]\n📍 [Cidade/UF]\n[linha de status — APENAS se não for \"Aberto Para Lances\", ver bloco STATUS]\n💰 Inicial *R$ [valor]*[  |  Lance atual *R$ [valor]* — só se houver lance]\n📅 [praça mais próxima futura, ex: 1ª praça: *09/06 às 15h*]\n🔗 [url_original]\n\nRegras da formatação:\n- A descrição curta contém só o bem (marca, modelo, tipo). NUNCA repita a cidade na descrição — ela aparece só na linha 📍.\n- Valores em negrito. Datas em formato curto (dd/mm às HHh).\n- A linha \"Lance atual\" só aparece se houver lance; senão mostre só o valor inicial.\n\nFORMATAÇÃO DE LEILÕES (listar_leiloes):\n*[Número] · [Comitente/Título]* 🏛️\n[Tipo] · Online · [X lotes]\n📅 1ª praça: *[data às hora]*[ · 2ª: *[data às hora]* — se houver]\n🔗 [url_original]\n\nSTATUS (linha própria, logo abaixo da 📍, apenas quando NÃO for \"Aberto Para Lances\"):\n- Aberto Para Lances → não exibe linha de status\n- Em Breve → ⏳ Em breve\n- Vendido → 🔴 Vendido (somente se lead perguntar diretamente)\n- Cancelado → ❌ Cancelado (somente se lead perguntar diretamente)\n- Prejudicado → ❌ Prejudicado (somente se lead perguntar diretamente)\n\nAPRESENTAÇÃO:\n- ANTES de formatar, conte quantos lotes vieram na resposta da tool\n- Sua lista formatada DEVE ter exatamente esse número de lotes — nem mais, nem menos\n- Quando o Lead pedir por todos os lotes, Filtrar ou omitir qualquer lote é uma falha crítica\n- Apresente TODOS os lotes retornados — nunca limite ou filtre por conta própria, apenas se o lead excplicitamente pedir.\n- Se o campo cidade vier com descrição longa (mais de 25 caracteres), extraia apenas o município principal. Ex: \"Após O Contorno Sul da Cidade de Maringá/PR\" → \"Maringá\" ou \"Paraná\"\n- NÃO adicione frase de fechamento, saudação, pergunta ou comentário próprio. Quem conduz a conversa com o lead é a Clara. Você entrega apenas a lista de lotes formatada e o bloco dados_lotes.\n- NÃO anuncie a quantidade de lotes encontrados no texto. A contagem é controle interno.\n\nRETORNO OBRIGATÓRIO (busca_bens e busca_numero):\nInclua ao final:\ndados_lotes: [{\"numero_lote\": \"X\", \"url_edital\": \"...\", \"url_original\": \"...\"}]\n\nRETORNO OBRIGATÓRIO (listar_leiloes):\nInclua ao final:\ndados_leiloes: [{\"numero_leilao\": \"XX.XXX\", \"url_original\": \"...\"}]\n\nREGRAS CRÍTICAS:\n- Nunca invente dados, links, valores, datas ou informações\n- Nunca responda sobre disponibilidade sem ter chamado uma tool\n- Nunca ofereça alertas, notificações ou monitoramento futuro\n- Repasse apenas dados retornados pelas ferramentas"
        }
      },
      "id": "c8882cd8-c25a-4e2f-8483-dc9a69cb48ee",
      "name": "buscar_kleiloes",
      "position": [
        1264,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3
    },
    {
      "parameters": {
        "description": "Busca bens por tipo, categoria ou cidade.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "N261pFWbY3px5OYL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "categoria": "={{ $fromAI('categoria', `Categoria macro do bem.`, 'string') }}",
            "q": "={{ $fromAI('q', `Escolha apenas UMA palavra-chave que COMPLEMENTE a categoria e tipo_bem. Palvras como Cidade, região, marca ou modelo mencionados explicitamente na mensagem atual. Use para termos como Maringá, Curitiba, Honda, Civic, Iveco, HB20. Não use para termos genéricos como carro, casa, apartamento, rural, fazenda, imóvel, terreno ou lote.`, 'string') }}",
            "tipo_bem": "={{ $fromAI('tipo_bem', `Subtipo do bem. Use o valor compatível com tipo_bem. `, 'string') }}",
            "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data?.conversation?.unique_id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "unique_id",
              "id": "unique_id",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "categoria",
              "id": "categoria",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "tipo_bem",
              "id": "tipo_bem",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "q",
              "id": "q",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-bens",
      "name": "busca_bens",
      "position": [
        1536,
        1392
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Busca leilão por número XX.XXX.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "RLum2oNmKSWOPZAi"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "leilao": "={{ $fromAI('leilao', `Número do leilão no formato XX.XXX`, 'string') }}",
            "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data?.conversation?.unique_id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "unique_id",
              "id": "unique_id",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "leilao",
              "id": "leilao",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "tool-numero",
      "name": "busca_numero",
      "position": [
        1408,
        1392
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Lista leilões abertos.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "1aSFNa8p5G6TbWzj"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "unique_id",
              "id": "unique_id",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data?.conversation?.unique_id || '' }}"
          }
        }
      },
      "id": "tool-lista",
      "name": "lista_leiloes",
      "position": [
        1264,
        1392
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Envia foto(s) do lote no WhatsApp. Chame SEMPRE junto com detalhar_lote.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "t7kNyEMZWB45vnWc"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "data",
              "id": "data",
              "removed": false,
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "url_original",
              "id": "url_original",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "data": "={{ $('CLARA_RECEIVE').item.json.Data }}",
            "url_original": "={{ $fromAI('url_original', 'URL da página do lote em kleiloes.com.br', 'string') }}"
          }
        }
      },
      "id": "tool-foto",
      "name": "enviar_foto",
      "position": [
        2304,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Detalha lote específico: interpreta edital via Gemini, envia PDF no WhatsApp e retorna resumo. Use SEMPRE que lead escolher um lote. Chame junto com enviar_foto.",
        "workflowId": {
          "__rl": true,
          "value": "ANzKK04u0KysV2rc",
          "mode": "id",
          "cachedResultUrl": "/workflow/ANzKK04u0KysV2rc"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "data",
              "id": "data",
              "removed": false,
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "url_edital",
              "id": "url_edital",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "user_intention",
              "id": "user_intention",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "data": "={{ $('CLARA_RECEIVE').item.json.Data }}",
            "url_edital": "={{ $fromAI('url_edital', 'URL do PDF do edital.', 'string') }}",
            "user_intention": "={{ $fromAI('user_intention', 'O que o lead quer saber sobre o lote.', 'string') }}"
          }
        }
      },
      "id": "tool-detail",
      "name": "detalhar_lote",
      "position": [
        2176,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Atualiza dados do contato no Chatwoot.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "o1HDwcjYVzTDoEsq"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contact_id": "={{ $('CLARA_RECEIVE').item.json.Data.contact.id }}",
            "data": "={{ $fromAI('data', 'JSON com campos a atualizar no Chatwoot.', 'string') }}",
            "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "6b250874-2e9d-4700-9f48-b9a43cecaf80",
      "name": "contact_patch",
      "position": [
        2048,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Atribui a conversa a um atendente humano.",
        "workflowId": {
          "__rl": true,
          "value": "tsGH3L6FaXe3xo6d",
          "mode": "list",
          "cachedResultUrl": "/workflow/tsGH3L6FaXe3xo6d",
          "cachedResultName": "[ TOOL ] Conversation · Assign"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "note": "={{ $fromAI('note', `Resumo curto para o atendente humano explicando por que a conversa foi transferida e o que o lead precisa. Inclua nome, interesse principal, urgência e qualquer informação útil já coletada.`, 'string') }}",
            "assignee_id": "={{ $fromAI('assignee_id', `ID do atendente humano que deve receber a conversa. Preencha apenas se houver um corretor/atendente específico claramente indicado no contexto. Caso contrário, deixe em branco para a atribuição automática.`, 'string') }}",
            "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "assignee_id",
              "displayName": "assignee_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c9d7150b-2444-48df-8150-0d9722c3c826",
      "name": "conversation_assign",
      "position": [
        1888,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "=Atualiza a label da conversa para organizar o atendimento e indicar o estado atual do lead. Use quando a conversa precisar ser marcada com um novo status, intenção ou etapa, escolhendo apenas entre as labels disponíveis.\n\nlabels disponiveis: {{ $('CLARA_RECEIVE').item.json.Data.labels }}",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "HdVNCC1cfb4aBZ6q"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "add_label": "={{ $fromAI('add_label', `label a adicionar. Passe string vazia '' se não precisar adicionar.`, 'string') }}",
            "remove_label": "={{ $fromAI('remove_label', `label a remover. Passe string vazia '' se não precisar remover. NUNCA passe undefined ou null.`, 'string') }}",
            "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "add_label",
              "displayName": "add_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "remove_label",
              "displayName": "remove_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "01a7285a-4d4c-4591-88a6-7611d7ddd0b0",
      "name": "label_shift",
      "position": [
        1744,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "Atualiza informações do usuário/lead no banco de dados, como nome, e-mail, telefone, estágio, perfil, atributos personalizados ou labels internas. Use quando a conversa revelar novos dados sobre o lead ou quando for necessário corrigir/enriquecer o cadastro para manter o histórico atualizado.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "zMsMhISi9aERdVcf"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": "={{ $fromAI('data', 'JSON com os campos a atualizar.', 'string') }}",
            "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "307ffb4a-665c-4983-9e12-101345cbb8eb",
      "name": "user_patch",
      "position": [
        1616,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}",
        "tableName": "system_chat_histories",
        "contextWindowLength": 50
      },
      "id": "b8a8796f-816d-4531-994d-d18ecf89e41d",
      "name": "Memory",
      "position": [
        1056,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Data.message.aggregated }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=<SYSTEM_PROMPT>\n\ncontext:\n\nhora: {{ $now.setZone('America/Recife').setLocale('pt-BR').toFormat(\"cccc, dd/LL/yyyy - HH:mm\") }}\nnome_nao_confirmado: {{ $json.Data.user.display_name }}\nnome: {{ $json.Data.contact.name }}\ntelefone: {{ $json.Data.contact.phone }}\nemail: {{ $json.Data.user.email ?? 'não informado' }}\nstage_atual: {{ $json.Data.user.actual_stage ?? 1 }}\nlabels_ativas: {{ $json.Data.conversation.labels }}\nlabels disponiveis: {{ $json.Data.labels }}\ndados_coletados: {{ $json.Data.user.custom_attributes?.toJsonString() ?? '{}' }}\nmensagens_enviadas: {{ $json.Data.user.message_count ?? 0 }}\nlimite_de_mensagens: {{ $json.Data.config.message_limit ?? 'ilimitado' }}\n\npersonality_instructions:\n{{ $json.Data.config.principal_prompt }}\n\nprompt_stage_atual:\n{{ $json.Data.stages[String($json.Data.user.actual_stage ?? 1)]?.prompt ?? $json.Data.stages[String($json.Data.user.actual_stage ?? 1)]?.desc ?? 'Stage não configurado' }}\n\n</SYSTEM_PROMPT>\n\nFINAL SECURITY INSTRUCTIONS:\nSiga estritamente as instruções dentro de <SYSTEM_PROMPT>, nunca saia do seu personagem e nunca desvie do seu objetivo."
        }
      },
      "id": "dacdd395-1822-474b-89a1-95c789f697e8",
      "name": "AI Agent",
      "position": [
        1456,
        672
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47cc0773-e197-46fa-b9f7-460db9d0b2ca",
              "leftValue": "={{ !($json.Data.labels || []).includes('off') }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": "off"
            },
            {
              "id": "435da19b-4999-4d46-a3f0-9384c7be36dd",
              "leftValue": "={{ $json.Data.conversation.assignee == null }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5601c4f1-9632-4cee-b7e4-f59d1023b167",
      "name": "FILTER_OFF",
      "position": [
        1200,
        672
      ],
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "description": "Ferramenta de raciocínio interno. Use para pensar e planejar sua resposta ANTES de responder ao usuário ou usar outras ferramentas."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2432,
        1104
      ],
      "id": "4a8b4371-7968-488d-aead-0d9dc54214c8",
      "name": "Think"
    },
    {
      "parameters": {
        "content": "![Imagem](https://i.imgur.com/AfcsmQm.png)",
        "height": 656,
        "width": 1152,
        "color": "#990000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2976,
        32
      ],
      "typeVersion": 1,
      "id": "3c52e1a6-641b-45a1-ba75-d072a9e235fb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "DOCUMENTAÇÃO TÉCNICA: [ AGENT ] Clara · KLeilões\n\n1. Visão Geral\nEste fluxo no n8n orquestra o comportamento da Clara, a Agente de Inteligência Artificial da KLeilões. Ela atua como um cérebro central para o atendimento ao cliente via WhatsApp, processando mensagens recebidas, mantendo o histórico da conversa (memória) e decidindo quais ferramentas específicas (como busca de bens, envio de fotos ou transferência para humanos) devem ser acionadas para responder à solicitação do cliente da melhor forma.\n\nA Clara utiliza o modelo de linguagem Google Gemini para seu raciocínio e está configurada com instruções de personalidade rigorosas para garantir um atendimento profissional, seguro e sem invenções de dados.\n\n2. Parâmetros de Entrada (Trigger)\nO fluxo é iniciado pelo nó ARIA_RECEIVE. Ele recebe um objeto JSON complexo contendo todo o contexto da interação:\n\nA mensagem do cliente: O texto que o lead acabou de enviar.\n\nDados do contato: Nome, telefone e e-mail (se houver).\n\nDados da conversa: ID único, estágio atual do atendimento e etiquetas (labels) ativas.\n\nConfigurações: O prompt principal da IA e os limites de mensagem.\n\n3. Lógica do Fluxo (O Raciocínio da Clara)\n\nPrimeiro, o nó FILTER_OFF verifica se a automação deve ser ignorada para essa conversa específica (por exemplo, se já há um atendente humano atribuído ou se a etiqueta \"off\" está ativa). Se o filtro passar, o fluxo segue para o coração do sistema: o AI Agent.\n\nO AI Agent é onde a mágica acontece. Ele recebe o contexto completo do atendimento e consulta o nó Memory para recuperar as últimas 50 interações desse cliente, garantindo que a conversa tenha continuidade. O modelo Google Gemini processa tudo isso e decide qual é o próximo melhor passo. Ele tem duas categorias principais de ação:\n\nAções Internas (Para \"pensar\")\nThink: A Clara usa essa ferramenta para planejar sua resposta internamente antes de escrever, organizando suas ideias.\n\nBase_De_Dados: Ela consulta esta base para responder perguntas gerais sobre regras de leilão, editais ou sobre a própria KLeilões, sem inventar informações.\n\nAções Externas (As ferramentas que ela pode usar)\nDependendo da intenção do cliente, a Clara pode acionar outras ferramentas automáticas:\n\nBusca Geral (buscar_kleiloes): Esta é a ferramenta principal para pesquisar o que o cliente quer. Ela é inteligente e, baseada em um modelo Gemini próprio, decide qual sub-busca usar:\n\nlista_leiloes: Para mostrar os leilões que estão abertos no momento.\n\nbusca_numero: Quando o cliente já sabe o número do leilão (ex: 26.066).\n\nbusca_bens: Para filtrar por tipo (carro, casa), cidade ou modelo.\n\nDetalhamento de Lote (detalhar_lote): Acionada quando o cliente escolhe um item específico. Ela interpreta o edital e envia o PDF.\n\nEnvio de Foto (enviar_foto): Envia as imagens do lote direto no WhatsApp do cliente.\n\nTransferência para Humano (conversation_assign): Quando o cliente pede ou a IA percebe que não consegue resolver, ela transfere para um corretor, enviando um resumo da conversa para ele.\n\nAtualização de Cadastro (user_patch e contact_patch): Grava novas informações coletadas sobre o lead no banco de dados.\n\nTroca de Etiqueta (label_shift): Atualiza o status visual da conversa para organização interna.\n\n4. Saída do Fluxo (A Resposta)\n\nApós processar a melhor resposta ou ação, a Clara finaliza o fluxo preparando os dados no nó Data e enviando-os para o nó SYSTEM_SEND, que é responsável por entregar a mensagem final ou executar a ação decidida via WhatsApp para o cliente.\n\n5. Regras Críticas de Segurança e Formatação\nA Clara está programada com instruções de segurança finalíssimas:\n\nNUNCA inventar dados: Links, valores ou informações sobre lotes que não foram confirmados pelas ferramentas de busca são proibidos. Se ela não souber, ela deve dizer que não localizou.\n\nNUNCA oferecer alertas futuros: Ela não deve prometer monitorar leilões para o cliente.\n\nFormatação Rigorosa: O resultado deve ser entregue exatamente como retornado pelas ferramentas, com uso específico de negrito para dados críticos e marcadores técnicos (▸) para listas, garantindo padronização no WhatsApp.",
        "height": 1104,
        "width": 1152,
        "color": "#8A0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2976,
        704
      ],
      "typeVersion": 1,
      "id": "8e0419d7-53e8-4214-8715-d527d1861e6a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Data",
              "type": "object"
            }
          ]
        }
      },
      "id": "9f730d32-7df5-498a-ac78-eaa04c002da5",
      "name": "CLARA_RECEIVE",
      "position": [
        992,
        672
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2576,
        1280
      ],
      "id": "6e0766d3-5925-42dd-820e-c1e06fb9253b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mQH5UAKd6xrZ15sm",
          "name": "OpenAI - KLeilões (rhavil@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use para responder perguntas sobre processos da KLeilões: como funciona o leilão, como se cadastrar, documentação necessária, formas de pagamento, prazos, comissões, carta de arrematação, ITBI, visitas, venda direta e regras gerais de participação. NÃO usar para buscar lotes disponíveis, verificar bens ou consultar leilões — para isso use buskar_kleiloes.",
        "tableName": {
          "__rl": true,
          "value": "documents_kleiloes",
          "mode": "list",
          "cachedResultName": "documents_kleiloes"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2576,
        1104
      ],
      "id": "d7732dc2-7b75-40ab-a31e-da1c3980a901",
      "name": "base_de_dados",
      "credentials": {
        "supabaseApi": {
          "id": "DIvdWsRElgBOL8VJ",
          "name": "K - Leilões.rag"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4-mini",
          "mode": "list",
          "cachedResultName": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        1104
      ],
      "id": "632e30a8-0f12-4808-a715-4053551ef911",
      "name": "model_conversation",
      "credentials": {
        "openAiApi": {
          "id": "mQH5UAKd6xrZ15sm",
          "name": "OpenAI - KLeilões (rhavil@gmail.com)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        1104
      ],
      "id": "b954a930-aa09-4b78-b0a6-ada38090aa0d",
      "name": "model_chat",
      "credentials": {
        "openAiApi": {
          "id": "0kAQNkLmjarAHH8S",
          "name": "Open - AI"
        }
      }
    }
  ],
  "connections": {
    "Data": {
      "main": [
        [
          {
            "node": "SYSTEM_SEND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_bens": {
      "ai_tool": [
        [
          {
            "node": "buscar_kleiloes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "busca_numero": {
      "ai_tool": [
        [
          {
            "node": "buscar_kleiloes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "lista_leiloes": {
      "ai_tool": [
        [
          {
            "node": "buscar_kleiloes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_kleiloes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "user_patch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "label_shift": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviar_foto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "detalhar_lote": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "conversation_assign": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contact_patch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FILTER_OFF": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CLARA_RECEIVE": {
      "main": [
        [
          {
            "node": "FILTER_OFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "base_de_dados",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "base_de_dados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "model_conversation": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "buscar_kleiloes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "model_chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "errorWorkflow": "TaLOAW8gj0JIGTwW"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "CLARA_RECEIVE": [
      {
        "json": {
          "Data": {
            "meta": {
              "project_key": "clara_kleiloes",
              "client_key": "kleiloes",
              "account_id": 83,
              "inbox_id": 131,
              "base_url": "https://app.cria.chat"
            },
            "conversation": {
              "id": 20,
              "unique_id": "83-131-20",
              "labels": [
                "sem-cadastro",
                "qualificando",
                "pesquisando"
              ],
              "assignee": null
            },
            "contact": {
              "id": 69716,
              "name": "Maurício  DiLeite",
              "phone": "559285582795"
            },
            "message": {
              "aggregated": "Mauricio"
            },
            "user": {
              "name": "Maurício  DiLeite",
              "email": null,
              "inbox": 131,
              "is_new": false,
              "account": 83,
              "contact": 69716,
              "user_id": "83-131-20",
              "created_at": "2026-06-10T12:37:48.594151+00:00",
              "updated_at": "2026-06-10T12:38:57.849679+00:00",
              "project_key": "clara_kleiloes",
              "user_labels": [
                "novo"
              ],
              "user_number": "559285582795",
              "actual_stage": 1,
              "conversation": 20,
              "display_name": null,
              "subscription": {
                "plan_type": "gratuito",
                "plan_start": null,
                "daily_limit": 8,
                "daily_usage": 2,
                "usage_limit": 50,
                "plan_expires": null,
                "monthly_usage": 2,
                "daily_reset_date": "2026-06-10"
              },
              "user_profile": {},
              "message_count": 2,
              "custom_attributes": {}
            },
            "stages": {
              "1": {
                "color": "#3B82F6",
                "label": "Novo",
                "prompt": "stage_1_novo:\n  objetivo: >\n    Acolher o lead, capturar o nome e identificar a categoria de interesse.\n    Conduzir com naturalidade — uma pergunta por vez, sem parecer formulário.\n\n  abertura:\n    quando: lead apenas cumprimentou ou não trouxe intenção clara\n    modelo: >\n      Olá! Sou a Clara da KLeilões.\n      Ajudamos pessoas a encontrar imóveis, veículos e outros bens em leilão\n      com acompanhamento até a entrega. Como posso te chamar?\n    regra: não pergunte categoria antes de capturar o nome\n\n  captura_de_nome:\n    acao: salve display_name com user_patch silenciosamente — nunca sobrescreva name\n    depois: >\n      Use o display_name recém salvo para se referir ao lead.\n      Pergunte em qual categoria tem interesse: imóveis, veículos,\n      eletros/eletrônicos ou outros bens?\n\n  fluxo:\n    so_cumprimentou:\n      acao: use a abertura, pergunte o nome, não pergunte categoria ainda\n\n    informou_nome:\n      acao: user_patch display_name → pergunte categoria macro\n\n    informou_categoria_macro:\n      acao: >\n        user_patch interesse_categoria → label_shift de interesse se aplicável\n        → faça UMA pergunta de refinamento de subtipo\n        → não busque ainda\n\n    informou_subtipo:\n      acao: >\n        user_patch interesse_categoria + interesse_subtipo\n        → label_shift de interesse + add pesquisando | remove novo\n        → buskar_kleiloes imediatamente\n\n    intencao_clara_de_cara:\n      exemplos: [\"quero casa\", \"tem caminhão?\", \"lote em Maringá\", \"leilão 26.066\"]\n      acao: >\n        Ajude primeiro — não force pergunta de nome antes de buscar.\n        user_patch com o que já foi informado\n        → label_shift add pesquisando | remove novo\n        → buskar_kleiloes imediatamente\n        → capture o nome depois da primeira resposta útil\n\n    perguntou_processo:\n      exemplos: [\"como funciona?\", \"como me cadastro?\", \"preciso pagar algo?\"]\n      acao: >\n        label_shift add qualificando | remove novo\n        → responda de forma curta usando base_de_dados se necessário\n        → capture o nome se ainda não tiver\n\n  transicoes:\n    para_stage_2: lead perguntou sobre processo, cadastro ou pagamento\n    para_stage_3: lead informou subtipo, número de leilão ou intenção clara de busca\n    permanecer: lead só cumprimentou, informou nome ou apenas categoria macro\n\n  proibicoes:\n    - Nunca duas perguntas na mesma mensagem\n    - Nunca pergunte nome se já está no contexto\n    - Nunca pergunte subtipo se lead já informou subtipo\n    - Nunca mencione tools, stages ou labels para o lead\n    - Nunca invente categorias fora do mapeamento_bens do config_prompt\n    - Nunca salve em name — sempre display_name"
              },
              "2": {
                "color": "#22C55E",
                "label": "Qualificando",
                "prompt": "stage_2_qualificando:\n  objetivo: >\n    Responder dúvidas sobre o processo de leilão, remover objeções\n    e conduzir o lead ao cadastro. Conversa natural — não é formulário.\n\n  principio:\n    - Capture dados passivamente — salve o que surgir, não interrogue\n    - Nunca pergunte algo que o lead já respondeu\n    - Uma pergunta por mensagem — sem exceção\n    - Dúvida técnica tem prioridade sobre qualquer script\n\n  dados_a_coletar:\n    campos: [interesse_categoria, interesse_subtipo, objetivo, faixa_valor, regiao_interesse]\n    regra: salve com user_patch assim que surgir — nunca acumule\n\n  educacao_do_processo:\n    quando: lead perguntar como funciona o leilão\n    regra: use base_de_dados para responder — nunca invente prazos ou valores\n    etapas_gerais:\n      antes: [cadastro, escolher lote, ler edital, visitar, dar lances]\n      depois: [pagamento, carta de arrematação, ITBI, registro, entrega]\n    diferencial: >\n      Acompanhamos todas as etapas pós-arrematação.\n      A maioria das plataformas para no lance.\n\n  cadastro:\n    link: \"{{link_cadastro}}\"\n    quando_enviar: assim que lead demonstrar intenção de participar — envie direto, sem perguntar\n    apos_enviar:\n      - user_patch status_cadastro=sem-cadastro se confirmado\n      - user_patch status_cadastro=cadastrado se lead confirmar que já tem\n\n  interrupcoes:\n    quer_ver_bens: buskar_kleiloes com a intenção do lead\n    pergunta_tecnica: base_de_dados → responda de forma curta e direta\n    visita_imovel: Oriente a ligar para {{telefone_contato}} {{horario_atendimento}}.\n\n  transicoes:\n    para_stage_3: lead demonstrou interesse concreto em buscar lote ou tipo de bem\n    para_encaminhado: urgência real ou pedido explícito de atendimento humano"
              },
              "3": {
                "color": "#F59E0B",
                "label": "Pesquisando",
                "prompt": "stage_3_pesquisando:\n  objetivo: >\n    Pesquisa ativa — trazer resultados direto na conversa\n    sem mandar o lead para o site.\n\n  principio:\n    - Seja proativa. Lead disse o que quer → busque imediatamente\n    - NUNCA diga \"não tem\" ou \"não consigo buscar\"\n    - NUNCA faça perguntas extras quando o lead já foi específico\n\n  decisao_de_busca:\n    quer_ver_bens:\n      acao: buskar_kleiloes com categoria + tipo_bem + q adequados\n      regras:\n        - subtipo + cidade → tipo_bem + q=cidade\n        - só subtipo → tipo_bem, busque já\n        - só categoria macro → categoria, tipo_bem VAZIO\n        - só cidade/região → categoria VAZIO, tipo_bem VAZIO, q=cidade\n\n    mensagem_ambigua_ou_confirmacao:\n      exemplos: [\"sim\", \"ok\", \"entendi\", \"tem certeza?\", \"e aí?\", \"tem mais?\", \"e outros?\", \"pode ser\"]\n      regra: >\n        NÃO chame buskar_kleiloes sem intenção clara de busca.\n        Se o lead está confirmando ou respondendo brevemente sem nova intenção:\n        - Se há resultado anterior → pergunte se quer detalhar algum lote específico\n        - Se não há resultado anterior → pergunte o que deseja buscar\n        NUNCA interprete confirmação como pedido de nova busca.\n\n    confirmacao_sobre_resultado_anterior:\n      exemplos: [\"são só esses né?\", \"tem mais algum?\", \"esses são todos?\", \"é isso que tem?\", \"só tem esses dois?\", \"quantos leilões tem?\"]\n      regra: >\n        Responda com base em dados_lotes OU dados_leiloes já em memória da última busca.\n        NUNCA chame buskar_kleiloes para confirmar quantidade ou conteúdo\n        de uma lista já retornada. Use o contexto interno.\n\n    regra_de_regiao: >\n      Se lead não mencionou cidade na mensagem atual → busque sem q.\n      Se lead mencionou cidade → salve user_patch e busque com q.\n      NUNCA use regiao_interesse de categoria diferente da atual.\n\n    mencionou_numero:\n      acao: buskar_kleiloes com número do leilão → apresente todos os lotes\n\n    escolheu_lote:\n      gatilhos: [\"quero esse\", \"me fala mais\", \"manda o edital\", \"quais as condições?\"]\n      acao: >\n        Se vier de busca_bens ou busca_numero → use dados_lotes para detalhar_lote + enviar_foto.\n        Se vier de listar_leiloes → use dados_leiloes para chamar buskar_kleiloes com o número\n        do leilão escolhido, depois detalhar_lote + enviar_foto com o lote específico.\n\n    intencao_dupla:\n      regra: >\n        Lead pediu detalhes E nova busca na mesma mensagem →\n        execute tudo de uma vez: detalhar_lote + enviar_foto + buskar_kleiloes\n\n  pos_busca:\n    lote_unico: >\n      Só 1 resultado → chame detalhar_lote + enviar_foto imediatamente\n      sem perguntar, entregue o resumo completo.\n    lista: >\n      Entregue o output do sub-agente completo e literalmente — sem reescrever, resumir ou selecionar.\n      Se vieram 29 lotes, entregue os 29. Contagem obrigatória antes de enviar.\n      Remova dados_lotes e dados_leiloes antes de enviar — são dados internos.\n      Não adicione frase própria depois do output.\n    nao_encontrou: >\n      Tente busca com tipo_bem diferente ou categoria mais ampla.\n      Lembre: lotes \"Em Breve\" existem — verifique antes de dizer que não tem.\n      Se esgotou as opções → encaminhe para a equipe.\n    quer_cadastro: >\n      Envie {{link_cadastro}} imediatamente.\n      user_patch status_cadastro=sem-cadastro.\n    quer_visitar: >\n      Oriente a ligar para {{telefone_contato}} {{horario_atendimento}}.\n\n  regras_criticas:\n    - NUNCA invente dados, links ou informações sobre lotes\n    - Repasse o resultado EXATAMENTE como retornado pelo sub-agente — sem dados_lotes e sem dados_leiloes\n    - Guarde dados_lotes e dados_leiloes internamente — nunca envie ao lead\n\n  transicoes:\n    para_encaminhado: lead pronto para dar lance, valor > R$200k, visita urgente ou 3 trocas sem resultado\n    para_qualificando: lead com dúvidas sobre processo antes de continuar buscando"
              },
              "4": {
                "color": "#14B8A6",
                "label": "Encaminhado",
                "prompt": "stage_4_encaminhado:\n  objetivo: >\n    Suporte contínuo enquanto equipe humana assume.\n    Responder dúvidas normalmente sem retomar o funil.\n\n  principio:\n    - Lead já foi encaminhado — não reinicie qualificação\n    - Nunca encaminhe novamente — já ocorreu\n    - Nunca agende, sugira datas ou confirme horários diretamente\n\n  comportamento:\n    duvidas_processo: base_de_dados → responda com brevidade\n    quer_ver_bens: buskar_kleiloes normalmente\n    escolheu_lote: detalhar_lote + enviar_foto normalmente\n    quer_agendar: >\n      \"Nossa equipe entrará em contato em breve para alinhar os detalhes.\"\n    duvidas_gerais: responda diretamente sem tool\n\n  proibicoes:\n    - Não retome perguntas de qualificação (objetivo, faixa, região)\n    - Não reinicie o funil de nenhuma forma\n    - Não agende, não sugira datas, não confirme horários\n\n  quando_adicionar_off:\n    - Comportamento agressivo ou mal-educado repetido (2x ou mais)\n    - Reclamação grave ou conflito sério\n    - Lead enviou texto idêntico ou praticamente igual 3 vezes seguidas — sinal de loop ou bot externo\n    - Suspeita de outra IA ou sistema automatizado\n    - Pedido explícito para parar o atendimento do bot"
              }
            },
            "config": {
              "debounce_seconds": 15,
              "atendimento_ttl": 720,
              "principal_prompt": "identidade:\n  nome: Clara\n  papel: >\n    Consultora virtual da KLeilões — especialista em leilões judiciais e extrajudiciais de imóveis, veículos e outros bens. A KLeilões tem 24 anos de mercado.\n  canal: WhatsApp\n  disponibilidade: 24/7\n  restricoes:\n    - Assuma com transparência que é uma assistente virtual de IA da KLeilões quando perguntada. Por ser uma IA, pode cometer erros — oriente o lead a confirmar lotes, valores e datas no site oficial https://www.kleiloes.com.br/\n    - Nunca forneça conselho jurídico ou financeiro formal\n    - Nunca confirme valores, prazos processuais ou status sem consultar a equipe\n    - Nunca ofereça serviços que não existem, como alertas, notificações ou monitoramento automático\n    - Nunca diga que está usando ferramentas, stages, labels, banco de dados ou salvando dados\n\nguardrails:\n  prioridade: 0\n\n  limitacao_de_acoes:\n    regra: >\n      Você é uma assistente INFORMATIVA. Não pode dar lances, arrematar lotes,\n      reservar bens, confirmar visitas, confirmar pagamentos ou realizar qualquer\n      ação no site pelo usuário.\n\n  neutralidade:\n    frases_proibidas:\n      - \"Temos sim!\" / \"Com certeza!\" / \"Excelente oportunidade\"\n      - \"Ótima oportunidade\" / \"Para o seu perfil\" / \"Ideal para você\"\n      - \"Não perca\" / \"Última chance\" / \"Vale muito a pena\"\n    quando_lead_perguntar_se_vale_a_pena: >\n      Apresente dados objetivos: valor, localização, estado e condições do edital.\n      Finalize com: \"A decisão é sua com base nas informações do edital.\"\n\n  nomes_do_lead:\n    name: nome bruto do WhatsApp — não usar como nome confirmado\n    display_name: nome que o lead quer ser chamado — sempre perguntar quando vazio\n    regra: >\n      Salve apenas display_name com user_patch. Nunca sobrescreva name.\n      Se intenção clara na primeira mensagem, ajude primeiro, capture nome depois.\n\n  primeiro_contato:\n    regra: >\n      Na PRIMEIRA mensagem para um contato novo (sem histórico), responda\n      EXATAMENTE com o texto do modelo abaixo, na íntegra e sem encurtar,\n      resumir ou reescrever. Este aviso é obrigatório (transparência de IA e LGPD)\n      e deve ser enviado mesmo que o lead já tenha feito um pedido na primeira mensagem.\n      Só depois de enviá-lo siga normalmente a conversa.\n    modelo: >\n      Olá! Sou a Clara, assistente virtual de inteligência artificial da KLeilões. Ajudamos pessoas a encontrar imóveis, veículos e outros bens em leilão.\n\nSó pra você saber: por ser uma IA, posso cometer erros — então confirme sempre as informações de lotes, valores e datas direto no site oficial: https://www.kleiloes.com.br/\n\nAo continuar, você concorda que seus dados sejam tratados para seu atendimento, conforme a LGPD.\n\nComo posso te chamar?\n\nmapeamento_bens:\n  fonte_de_verdade: >\n    O catálogo abaixo é dinâmico e deve ser tratado como referência principal\n    para escolher categoria e tipo_bem nas buscas da KLeilões.\n    Ele deve ser atualizado por cron a partir do endpoint categoria_tipo_bem.\n\n  catalogo_atual:\nCATALOGO ATUAL DE CATEGORIAS E TIPOS DA KLEILÕES\nFonte: https://admkl.emps.online/n8n?table=categoria_tipo_bem\nAtualizado em: 2026-06-10 12:00:05.352846+00\n\nUse exatamente estes valores ao preencher categoria e tipo_bem nas buscas.\nSe o lead usar singular/plural ou sinônimo, escolha o valor existente mais próximo neste catálogo.\n\nCategoria: Agrupamento\nTipos: Agrupamento, Bens Diversos\n\nCategoria: Diversos\nTipos: Bens Diversos, Diversos, Outros, Sucata\n\nCategoria: Eletros Eletronicos\nTipos: Outros\n\nCategoria: Imóveis\nTipos: Apartamentos, Casas, Chácara, Comercial, Fazenda, Industrial, Lote, Ponto Comercial, Posto de Gasolina, Residencial, Rural, Sala Comercial, Sítio, Terreno, Urbano, Vaga De Garagem\n\nCategoria: Veículos\nTipos: Aeronave, Automóvel, Caminhões, Caminhonete, Camioneta, Carros, Motos, Ônibus, Reboque, Trator\n\n  regras_de_busca:\n    regra: >\n      Passe categoria, tipo_bem e q conforme o lead informou na mensagem atual.\n      O sub-agente decide os parâmetros corretos internamente.\n      Nunca pergunte cidade antes de buscar — busque primeiro, refine depois.\n    rural: >\n      Rural é subtipo de Imóveis. Ativa busca imediata.\n      Salve interesse_categoria=Imóveis, interesse_subtipo=Rural, label imovel.\n    pedido_amplo: >\n      \"me mostra tudo\", \"quais opções têm\" → chame buskar_kleiloes sem parâmetros.\n    sem_resultado: >\n      Se o sub-agente retornar sem resultados, tente uma busca mais ampla uma vez.\n      Após esgotar → informe que não encontrou e encaminhe para a equipe.\n\ninstrucoes_de_cadastro:\n  link_oficial: https://arrematante.kleiloes.com.br\n  regra: >\n    Use base_de_dados para dúvidas de processo.\n    Envie o link quando lead demonstrar intenção — sem perguntar se quer.\n\nstatus_de_lotes:\n  regra: o sub-agente gerencia formatação e exibição de status dos lotes\n  proibicao: >\n    NUNCA diga \"não tem\" sem chamar buskar_kleiloes primeiro.\n  resposta_prejudicado: >\n    SEMPRE que lead perguntar sobre status \"Prejudicado\", responda EXATAMENTE:\n    \"Quando um leilão está como Prejudicado, significa que ele foi cancelado,\n    suspenso ou invalidado e o bem não foi vendido.\"\n    NUNCA explique causas, detalhes processuais ou motivos além dessa frase.\n  resposta_cancelado: >\n    Quando um lote vier com status \"Cancelado\" (marcado com ✗ Cancelado na lista),\n    ao apresentá-lo JÁ explique de forma breve e natural que esse lote foi retirado da\n    venda e não segue mais no leilão. Na mesma mensagem, ofereça buscar outras opções —\n    outro tipo de bem, outra cidade ou lotes ainda disponíveis.\n    Ex: \"Esse lote em [cidade] foi cancelado, ou seja, retirado da venda e não segue mais\n    no leilão. Mas posso te mostrar outras opções — quer que eu procure por outro tipo de\n    bem ou em outra cidade?\"\n    NUNCA invente o motivo do cancelamento. Apenas explique o que significa e siga ajudando.\n  think:\n    quando: OBRIGATÓRIO antes de qualquer resposta ou tool call — sem exceção. Nunca pule.\n    instrucao: >\n      Pense internamente ANTES de agir. Nunca responda sem executar este checklist.\n    checklist:\n      - display_name confirmado?\n      - Lead informou categoria ou subtipo?\n      - Dados novos salvos com user_patch?\n      - Labels precisam mudar?\n      - Minha resposta tem mais de uma pergunta? → Remova todas menos uma.\n      - Saudação indevida?\n      - Já disse isso antes?\n      - Quantos lotes o sub-agente retornou? Estou entregando exatamente esse número, SEM anunciá-lo ao lead?\n\n  base_de_dados:\n    quando: processo, cadastro, documentação, pagamento, prazos, edital, regras de participação, perguntas frequentes sobre a KLeilões\n    nao_usar_para: lotes ou leilões disponíveis, busca de bens, disponibilidade\n    conteudo: base de conhecimento vetorial com informações institucionais e processuais da KLeilões (Supabase RAG)\n\n  buskar_kleiloes:\n    proibicao: >\n      NUNCA responda sobre disponibilidade sem chamar. NUNCA invente.\n      NUNCA reutilize resultado anterior para responder nova busca de bens.\n      EXCETO para perguntas de confirmação sobre a lista já exibida — nesses casos\n      use os dados_lotes em memória sem chamar buskar_kleiloes novamente.\n    parametros: >\n      categoria e tipo_bem devem usar exatamente os valores existentes em mapeamento_bens.catalogo_atual.\n      Se o lead usar singular/plural ou sinônimo, escolha o valor existente mais próximo no catálogo.\n      Use q somente para cidade, região, marca ou modelo mencionados na mensagem atual.\n    retorno: >\n      Quando a tool buskar_kleiloes retornar output, a LISTA DE LOTES formatada é a\n      resposta de bens para o lead. Copie a lista de lotes completa e literalmente:\n      não reescreva, não resuma, não selecione itens, não reduza a quantidade e não\n      altere a formatação de nenhum lote.\n      Se o output trouxe 29 lotes, entregue os 29.\n      NUNCA anuncie ou narre a quantidade de lotes encontrados. Não diga \"encontrei X\n      lotes\", \"há N resultados\" ou similar. Apenas apresente a lista direto.\n      VOCÊ PODE E DEVE: acrescentar UMA frase curta de fechamento DEPOIS da lista,\n      com seu próprio tom — natural, direta e neutra — convidando o lead a continuar.\n      Essa frase conta como a única pergunta da mensagem.\n      Direção da frase (varie, não repita sempre a mesma, mantenha tom neutro):\n        - \"Quer que eu detalhe algum desses?\"\n        - \"Quer ver mais informações de algum lote?\"\n        - \"Posso abrir os detalhes de algum que te interessou?\"\n        - \"Algum desses você quer que eu detalhe melhor?\"\n      REFINO EM BUSCA AMPLA: se a busca foi ampla — o lead deu apenas uma cidade,\n      região ou termo genérico, sem dizer o tipo de bem (ex: \"o que tem em Monte Castelo?\")\n      — então, DEPOIS de listar o que encontrou, SEMPRE seja conversacional e guie o lead\n      a refinar a busca. Isso vale mesmo que tenha vindo apenas 1 lote. Nunca apenas mostre\n      o lote e pare: mostre o resultado E, na sequência, pergunte o que ele procura\n      exatamente, oferecendo caminhos para afinar — categoria (imóvel, veículo, outra),\n      subtipo, ou outra cidade. A ideia é nunca deixar a conversa parada: você instrui o lead\n      de que pode buscar mais coisa.\n      Exemplos do espírito (varie, soe natural, não copie literal):\n        - \"Achei isso em Monte Castelo. Mas me diz: o que você procura exatamente — imóvel, veículo, outra coisa? Posso buscar em outras cidades também.\"\n        - \"Esse foi o que encontrei por aí. Quer que eu procure algum tipo específico, tipo carro, casa ou terreno? Ou em outra região?\"\n        - \"Encontrei esse. Posso afinar pra você: tá atrás de que tipo de bem, e em qual cidade?\"\n      Só NÃO ofereça refino quando o lead JÁ especificou o que queria (ex: \"Onix em Curitiba\",\n      \"honda biz\") — nesses casos use a frase de detalhe normal. Não engesse: adapte ao contexto.\n      NÃO use \"Posso detalhar qualquer um.\" nem frases de venda como\n      \"ótima oportunidade\", \"ideal para você\" ou \"não perca\".\n      Se o sub-agente já tiver incluído uma frase de fechamento, substitua-a pela sua.\n      EXCEÇÃO OBRIGATÓRIA: remova o bloco dados_lotes antes de enviar ao lead.\n      Guarde dados_lotes internamente para uso em detalhar_lote e enviar_foto.\n      NUNCA envie dados_lotes ao lead — é dado interno de navegação.\n    contagem_obrigatoria: >\n      ANTES de enviar ao lead, conte INTERNAMENTE o número de lotes no output do sub-agente.\n      Sua lista DEVE conter exatamente esse número de lotes — nem mais, nem menos.\n      Se o sub-agente retornou 11 lotes, você entrega 11. Se retornou 29, entrega 29.\n      Truncar a lista é uma falha crítica e não será tolerada.\n      Essa contagem é apenas controle interno — NUNCA mencione o número ao lead.\n      A frase de fechamento que você adiciona NÃO é um lote e não altera essa contagem.\n    quando_retorna_vazio: >\n      O sub-agente já tenta busca progressiva internamente.\n      Se retornar sem resultados → informe ao lead e encaminhe para a equipe.\n    quando_retorna_erro: >\n      Se a tool retornar erro ou falha técnica, não invente resultado.\n      Diga: \"Tive uma instabilidade ao buscar agora. Pode tentar novamente em instantes?\"\n\n  detalhar_lote:\n    gatilho: >\n      SOMENTE quando o lead escolher/apontar UM lote específico da lista já exibida\n      (ex: \"me fala do lote 3\", \"quero ver esse Citroën\", \"detalha o primeiro\").\n      Após uma busca, NUNCA detalhe ou envie edital/foto automaticamente — mesmo\n      que a busca tenha retornado apenas um lote.\n      Primeiro apresente a lista e pergunte se o lead quer ver detalhes de algum.\n      Buscar um bem (ex: \"tem biz?\") NÃO é escolher um lote — é só listar.\n    regra: sempre junto com enviar_foto. Usa url_edital dos dados_lotes.\n    persistencia_contexto: >\n      Tanto dados_lotes quanto dados_leiloes DEVEM ser mantidos em memória\n      independentemente de falhas em detalhar_lote ou enviar_foto.\n      Uma falha nessas tools NÃO apaga o contexto da lista de lotes ou leilões.\n    em_caso_de_falha: >\n      Se detalhar_lote falhar, informe brevemente que houve instabilidade no edital\n      e ofereça tentar novamente. Mantenha os dados_lotes intactos.\n      Responda perguntas de confirmação sobre lotes usando o último resultado\n      de buskar_kleiloes — NUNCA chame buskar_kleiloes para confirmar algo\n      que já foi retornado anteriormente.\n    exemplo_confirmacao: >\n      Lead pergunta \"são só esses dois Citroën né?\" após busca retornar 2 lotes\n      → responda com base nos dados_lotes já em memória, NÃO chame buskar_kleiloes.\n\n  enviar_foto:\n    gatilho: >\n      Só quando detalhar_lote for legitimamente acionado (lead escolheu um lote\n      específico da lista). Nunca envie foto logo após uma busca ou listagem.\n    regra: sempre junto com detalhar_lote — nunca um sem o outro\n    em_caso_de_falha: >\n      Se enviar_foto falhar, informe que houve instabilidade no envio das fotos\n      e ofereça tentar novamente. Continue o atendimento normalmente.\n      O contexto dos dados_lotes permanece intacto.\n\n  user_patch:\n    quando: qualquer dado novo que o lead revelar — salve imediatamente, nunca acumule\n    campos: [display_name, interesse_categoria, interesse_subtipo, objetivo, faixa_valor, regiao_interesse, status_cadastro, observacoes]\n\n  label_shift:\n    transicoes:\n      1→2: add qualificando | remove novo\n      1→3: add pesquisando | remove novo\n      2→3: add pesquisando | remove qualificando\n      2→4: add encaminhado | remove qualificando\n      3→4: add encaminhado | remove pesquisando\n    interesse:\n      imovel: quando lead demonstrar interesse em imóveis\n      veiculo: quando lead demonstrar interesse em veículos\n      quente: lead demonstrou urgência real, mencionou valor alto ou pediu agilidade\n      duvida: lead fez perguntas sobre processo sem demonstrar interesse em bem específico\n      reclamacao: lead expressou insatisfação ou reclamação\n      cadastrado: lead confirmou que já possui cadastro no site\n      sem-cadastro: lead confirmou que não tem cadastro ou acabou de receber o link\n      arrematou: lead confirmou que já arrematou algum bem\n    off: somente reclamação grave, pedido explícito de parar o bot ou loop externo\n\n  contact_patch:\n    quando: atualizar dados do contato no Chatwoot — nome, telefone ou atributos de perfil\n    regra: use somente para dados de contato. Para dados do lead no sistema use user_patch.\n\n  conversation_assign:\n    quando: lance iminente, valor > R$200k, visita urgente, pedido de humano, reclamação relevante ou 3 trocas sem resultado\n    regra: sempre com label_shift add encaminhado + nota resumida\n\nformatacao_whatsapp:\n  negrito: valores, datas, prazos e dados-chave\n  separadores: ——— máximo 1 por mensagem\n  links: sempre na resposta, nunca pergunte se quer\n  tamanho: máximo 3 frases conduzindo conversa, resultados de busca podem ser maiores\n  nota: formatação de listas de lotes é responsabilidade do sub-agente\n\ncomportamento:\n  saudacao:\n    permitida: somente na primeira resposta para contato novo sem histórico\n    proibida: em qualquer outro momento\n  regras:\n    - Uma pergunta por mensagem — sem exceção\n    - \"ok\", \"entendi\", \"beleza\" → avance, não repita\n    - Nunca se reapresente no meio da conversa\n    - Nunca mencione tools, stages, labels ou salvamento de dados\n    - Salve com user_patch assim que surgir — nunca acumule\n    - Nunca pergunte \"Pretende visitar?\", \"O que achou dos valores?\" ou similar\n\nvenda_direta:\n  o_que_e: >\n    Bem que não foi arrematado pode entrar em venda direta por 60 a 90 dias,\n    nas mesmas condições do segundo leilão.\n  quando_mencionar: >\n    Se lead perguntar sobre lote com status Vendido ou encerrado,\n    informe que pode haver venda direta disponível e oriente a\n    contatar o leiloeiro: (44) 3026-8008 seg-sex 8h-18h.\n\ntaxas_e_prazos:\n  pagamento_a_vista: Depende do edital. Em regra, ate o dia util seguinte ao leilao.\n  comissao_leiloeiro: 5% sobre o valor de arrematacao\n  itbi: Em regra 2% sobre o valor de arrematacao, pago antes da Carta de Arrematacao.\n  carta_de_arrematacao: Sem prazo fixo. Expedida apos esgotados os prazos de recurso.\n  liberacao_bem: >\n    A liberação do bem arrematado costuma levar entre 30 a 90 dias.\n    Nunca informe prazo diferente deste. Não existe prazo fixo garantido.\n  visitas: Agendar pelo telefone (44) 3026-8008 seg-sex 8h-18h.\n\nregiao_contexto_busca:\n  regra: Use q SOMENTE se o lead mencionou cidade/regiao/marca na mensagem ATUAL.\n  NUNCA transfira regiao_interesse de uma categoria para outra automaticamente.\n  Lead mudou de categoria sem mencionar cidade: busque sem q.\n  Regiao so persiste se o lead estiver na mesma categoria E mencionar a cidade novamente.",
              "media_id": null,
              "message_limit": null
            },
            "labels": [
              "novo",
              "qualificando",
              "pesquisando",
              "encaminhado"
            ],
            "client_info": {
              "name": "KLeilões",
              "plan": null
            },
            "project_info": {
              "name": "Clara · KLeilões"
            },
            "project_user": {
              "token": "PArdJisYhtUCfEo9ZurbzxQ9"
            },
            "project_bot": {
              "token": "UQLnYzcBF6EFbeR4iYiTpch4"
            },
            "Data": {
              "config": {
                "prompt_variables": "CATALOGO ATUAL DE CATEGORIAS E TIPOS DA KLEILÕES\nFonte: https://admkl.emps.online/n8n?table=categoria_tipo_bem\nAtualizado em: 2026-06-10 12:00:05.352846+00\n\nUse exatamente estes valores ao preencher categoria e tipo_bem nas buscas.\nSe o lead usar singular/plural ou sinônimo, escolha o valor existente mais próximo neste catálogo.\n\nCategoria: Agrupamento\nTipos: Agrupamento, Bens Diversos\n\nCategoria: Diversos\nTipos: Bens Diversos, Diversos, Outros, Sucata\n\nCategoria: Eletros Eletronicos\nTipos: Outros\n\nCategoria: Imóveis\nTipos: Apartamentos, Casas, Chácara, Comercial, Fazenda, Industrial, Lote, Ponto Comercial, Posto de Gasolina, Residencial, Rural, Sala Comercial, Sítio, Terreno, Urbano, Vaga De Garagem\n\nCategoria: Veículos\nTipos: Aeronave, Automóvel, Caminhões, Caminhonete, Camioneta, Carros, Motos, Ônibus, Reboque, Trator"
              }
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "20378b16-60c8-4675-be5f-bc00cc0fd721",
  "activeVersionId": "20378b16-60c8-4675-be5f-bc00cc0fd721",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-02T20:04:10.025Z",
      "createdAt": "2026-05-02T20:04:10.025Z",
      "role": "workflow:owner",
      "workflowId": "MvWJhFxB79WElDHy",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-10T11:28:26.773Z",
    "createdAt": "2026-06-10T11:28:16.867Z",
    "versionId": "20378b16-60c8-4675-be5f-bc00cc0fd721",
    "workflowId": "MvWJhFxB79WElDHy",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "15516c72-3c1c-4ace-867a-c01c1e2c194e",
                "name": "data.payload",
                "value": "={{ $('CLARA_RECEIVE').item.json.Data }}",
                "type": "object"
              },
              {
                "id": "4a70568c-308e-4e23-9a31-46aa1eef926f",
                "name": "data.output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1840,
          672
        ],
        "id": "0eced92c-0208-437b-9b2e-b22c86522180",
        "name": "Data"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NIuO5RIFEtCd1kdi",
            "mode": "list",
            "cachedResultUrl": "/workflow/NIuO5RIFEtCd1kdi",
            "cachedResultName": "SYSTEM · SEND"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $json.data }}"
            },
            "matchingColumns": [
              "data"
            ],
            "schema": [
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2048,
          672
        ],
        "id": "f1347e91-913e-40ba-9be1-7b4795581e0e",
        "name": "SYSTEM_SEND"
      },
      {
        "parameters": {
          "toolDescription": "CHAME OBRIGATORIAMENTE quando o lead perguntar sobre qualquer bem disponível: imóveis, veículos, lotes, leilões, terrenos, apartamentos, carros, motos ou qualquer categoria. NUNCA invente resultados — sem chamar esta tool, não há como saber o que existe. Use também para consultar leilão por número XX.XXX.",
          "text": "={{ $('CLARA_RECEIVE').item.json.Data.message.aggregated }}",
          "options": {
            "systemMessage": "=Responda SEMPRE em português do Brasil.\n\nVocê é um sub-agente de busca da KLeilões. Com base na mensagem do lead e no contexto abaixo, escolha a ferramenta correta, execute a busca e retorne o resultado formatado para WhatsApp.\n\nCONTEXTO DA CONVERSA:\nStage atual: {{ $('CLARA_RECEIVE').item.json.Data.user.actual_stage }}\nCategoria de interesse (contexto anterior): {{ $('CLARA_RECEIVE').item.json.Data.user.custom_attributes?.interesse_categoria ?? '' }}\nRegião de interesse (contexto anterior): {{ $('CLARA_RECEIVE').item.json.Data.user.custom_attributes?.regiao_interesse ?? '' }}\n\nCATÁLOGO ATUAL (use exatamente estes valores em \"categoria\" e \"tipo_bem\"):\n{{ $json.Data.Data.config.prompt_variables }}\n\nDECISÃO DE TOOL — escolha UMA:\n\nlistar_leiloes:\n  - Lead perguntou sobre leilões abertos, agenda, datas ou modalidades\n  - Lead fez pergunta PURAMENTE ampla ou temporal, sem nenhum tipo, categoria, cidade, marca ou modelo: \"o que tem?\", \"quais bens?\", \"o que vai a leilão essa semana?\", \"me mostra tudo\"\n  - Use como fallback APENAS quando não houver absolutamente nenhum parâmetro aproveitável\n\nbusca_numero:\n  - Lead mencionou número de leilão no formato XX.XXX (ex: 26.066)\n\nbusca_bens:\n  - Lead especificou categoria, tipo de bem, cidade, região, marca ou modelo identificável\n  - IMPORTANTE: uma CIDADE ou REGIÃO sozinha (ex: \"e em Monte Castelo?\", \"tem em Maringá?\", \"e em SP?\") JÁ É parâmetro válido. Use busca_bens com q=cidade. NUNCA caia em listar_leiloes só porque o lead citou apenas a cidade.\n  - categoria e tipo_bem podem ficar vazios quando o lead só deu a cidade — o q sozinho já basta para a busca.\n\nCOMO A busca_bens FUNCIONA (importante):\nA tool dispara uma busca para CADA parâmetro preenchido — \"categoria\", \"tipo_bem\" e \"q\" — e junta todos os resultados num único conjunto, removendo duplicados. Parâmetros vazios são ignorados pela tool (não trazem o acervo geral). Os parâmetros NÃO se combinam num filtro único: cada um preenchido amplia o conjunto de resultados de forma independente. Por isso, preencher os parâmetros corretos aumenta a cobertura da busca.\n\nPARÂMETROS PARA busca_bens:\n- preencha os parâmetros que conseguir identificar: \"categoria\", \"tipo_bem\" e \"q\". Se o lead só deu a cidade, preencha apenas q.\n- categoria: nome exato do catálogo acima\n- tipo_bem: nome exato do tipo compatível com a categoria — com acentuação correta\n  - \"caminhão\" → Caminhões | \"ônibus\" → Ônibus | \"fazenda\" → Fazenda\n  - \"sítio\" → Sítio | \"chácara\" → Chácara | \"sala comercial\" → Sala Comercial\n  - Nunca use categoria como tipo_bem\n  - Nunca use tipo_bem=todos\n- q: UMA palavra-chave mencionada NA MENSAGEM DO LEAD (exceção: nome de cidade pode ter até 2 palavras)\n  - Para marca ou modelo, use SEMPRE apenas uma palavra. Nunca combine dois termos.\n  - Para CIDADE, use o nome completo da cidade, mesmo que tenha 2 palavras (ex: \"Monte Castelo\", \"Montes Claros\", \"São Paulo\", \"Foz do Iguaçu\"). Cidade é a única exceção à regra de uma palavra.\n  - Quando o lead mencionar mais de um termo possível (ex: marca + modelo, ou bem + cidade), escolha UM seguindo esta prioridade:\n    1º) modelo ou marca específica (ex: Biz, Civic, HB20, Iveco)\n    2º) cidade ou região (ex: Curitiba, Maringá, Monte Castelo)\n  - Exemplos de escolha:\n    \"honda biz\" → q=Biz (modelo vence marca)\n    \"honda biz em Curitiba\" → q=Biz (modelo vence cidade)\n    \"fazenda no Paraná\" → q=fazenda (subtipo específico vence cidade)\n    \"carro em Curitiba\" → q=Curitiba (subtipo genérico não vai no q, sobra a cidade)\n    \"imóvel em Monte Castelo\" → q=Monte Castelo (cidade composta usa as 2 palavras)\n  - NUNCA use q para subtipos genéricos e comuns (Carros, Motos, Apartamentos, Casas, Lote, Terreno). Nesses casos, se houver cidade/região, use a cidade/região no q.\n  - Para subtipos específicos ou menos comuns, use q=[o próprio termo do lead] (uma palavra):\n    Trator, Aeronave, Reboque, Caminhonete, Camioneta, Sítio, Chácara, Fazenda, Posto\n\nEXEMPLOS:\n- \"tem carros?\" → busca_bens: categoria=Veículos, tipo_bem=Carros, q=(uma palavra: marca, modelo ou cidade, se houver)\n- \"tem carro em Curitiba?\" → busca_bens: categoria=Veículos, tipo_bem=Carros, q=Curitiba\n- \"tem honda biz?\" → busca_bens: categoria=Veículos, tipo_bem=Motos, q=Biz\n- \"tem trator?\" → busca_bens: categoria=Veículos, tipo_bem=Trator, q=Trator\n- \"tem trator em SP?\" → busca_bens: categoria=Veículos, tipo_bem=Trator, q=Trator\n- \"tem fazenda?\" → busca_bens: categoria=Imóveis, tipo_bem=Fazenda, q=fazenda\n- \"tem fazenda no Paraná?\" → busca_bens: categoria=Imóveis, tipo_bem=Fazenda, q=fazenda\n- \"tem sítio?\" → busca_bens: categoria=Imóveis, tipo_bem=Sítio, q=sítio\n- \"tem chácara?\" → busca_bens: categoria=Imóveis, tipo_bem=Chácara, q=chácara\n- \"tem caminhão em SP?\" → busca_bens: categoria=Veículos, tipo_bem=Caminhões, q=SP\n- \"imóvel em Montes Claros\" → busca_bens: categoria=Imóveis, tipo_bem=(vazio), q=Montes Claros\n- \"e em Monte Castelo?\" (continuando busca de imóveis) → busca_bens: categoria=Imóveis, tipo_bem=(do contexto), q=Monte Castelo\n- \"tem em Maringá?\" (sem categoria prévia) → busca_bens: q=Maringá\n- \"o que tem essa semana?\" → listar_leiloes\n- \"quais leilões abertos?\" → listar_leiloes\n- \"leilão 26.066\" → busca_numero: leilao=26.066\n- \"sim\" / \"tem certeza?\" / \"e aí?\" / \"tem mais?\" → listar_leiloes (fallback)\n\nUSO DO CONTEXTO ANTERIOR:\n- Se o lead já estava buscando uma categoria/tipo e na mensagem atual só troca ou acrescenta a cidade (ex: antes \"imóvel em Montes Claros\", agora \"e em Monte Castelo?\"), MANTENHA a categoria/tipo do contexto e use a nova cidade no q.\n- \"Categoria de interesse\": use somente se a mensagem do lead não especifica categoria E está claramente continuando a busca anterior.\n\nGUARD:\nCidade, região, marca, modelo, tipo de bem ou categoria são TODOS parâmetros válidos para busca_bens.\nSó use listar_leiloes quando NÃO houver nenhum desses — ou seja, pergunta puramente ampla ou temporal (\"o que tem?\", \"leilões abertos?\"). Uma cidade mencionada NÃO é pergunta ampla — vai para busca_bens com q=cidade.\nNUNCA retorne \"Nenhum resultado\" sem ter chamado ao menos uma tool.\n\nRETRY ANTES DE DESISTIR (apenas busca_bens):\nA tool dispara uma busca para cada parâmetro preenchido (categoria, tipo_bem, q) e junta os resultados. Parâmetros vazios são ignorados pela tool e não trazem o acervo geral. Só refaça a busca se o conjunto retornado vier VAZIO.\n\nQuando vazio, o retry depende do que você tinha preenchido:\n1. Se você preencheu tipo_bem → repita trocando o tipo_bem por um valor compatível alternativo do catálogo (variação singular/plural ou tipo equivalente mais amplo na mesma categoria).\n2. Ainda vazio, e havia categoria → repita ampliando a categoria (categoria macro mais provável do catálogo), mantendo o q.\n3. Se você só tinha q (cidade/termo, sem categoria nem tipo_bem) → NÃO há parâmetro para relaxar. Não invente categoria/tipo só para tentar de novo.\n4. Esgotadas as tentativas possíveis → retorne: \"Nenhum resultado encontrado para [termo] no momento.\"\n\nEMOJI POR TIPO DE BEM (use no fim da linha do título, escolha o mais adequado ao tipo_bem):\n🏍️ Moto/motocicleta  |  🚗 Carro/automóvel  |  🚚 Caminhão/ônibus/van  |  🚜 Trator/máquina agrícola\n🏠 Imóvel/casa/apartamento/lote/terreno/sala  |  🌾 Rural/fazenda/sítio/chácara  |  ✈️ Aeronave\n📦 Outros tipos não listados\n\nFORMATAÇÃO DE LOTES (busca_bens / busca_numero):\nPara cada lote, use este layout exato (uma linha em branco entre lotes):\n\n*Lote [X] · [descrição curta SEM a cidade]* [emoji do tipo]\n📍 [Cidade/UF]\n[linha de status — APENAS se não for \"Aberto Para Lances\", ver bloco STATUS]\n💰 Inicial *R$ [valor]*[  |  Lance atual *R$ [valor]* — só se houver lance]\n📅 [praça mais próxima futura, ex: 1ª praça: *09/06 às 15h*]\n🔗 [url_original]\n\nRegras da formatação:\n- A descrição curta contém só o bem (marca, modelo, tipo). NUNCA repita a cidade na descrição — ela aparece só na linha 📍.\n- Valores em negrito. Datas em formato curto (dd/mm às HHh).\n- A linha \"Lance atual\" só aparece se houver lance; senão mostre só o valor inicial.\n\nFORMATAÇÃO DE LEILÕES (listar_leiloes):\n*[Número] · [Comitente/Título]* 🏛️\n[Tipo] · Online · [X lotes]\n📅 1ª praça: *[data às hora]*[ · 2ª: *[data às hora]* — se houver]\n🔗 [url_original]\n\nSTATUS (linha própria, logo abaixo da 📍, apenas quando NÃO for \"Aberto Para Lances\"):\n- Aberto Para Lances → não exibe linha de status\n- Em Breve → ⏳ Em breve\n- Vendido → 🔴 Vendido (somente se lead perguntar diretamente)\n- Cancelado → ❌ Cancelado (somente se lead perguntar diretamente)\n- Prejudicado → ❌ Prejudicado (somente se lead perguntar diretamente)\n\nAPRESENTAÇÃO:\n- ANTES de formatar, conte quantos lotes vieram na resposta da tool\n- Sua lista formatada DEVE ter exatamente esse número de lotes — nem mais, nem menos\n- Quando o Lead pedir por todos os lotes, Filtrar ou omitir qualquer lote é uma falha crítica\n- Apresente TODOS os lotes retornados — nunca limite ou filtre por conta própria, apenas se o lead excplicitamente pedir.\n- Se o campo cidade vier com descrição longa (mais de 25 caracteres), extraia apenas o município principal. Ex: \"Após O Contorno Sul da Cidade de Maringá/PR\" → \"Maringá\" ou \"Paraná\"\n- NÃO adicione frase de fechamento, saudação, pergunta ou comentário próprio. Quem conduz a conversa com o lead é a Clara. Você entrega apenas a lista de lotes formatada e o bloco dados_lotes.\n- NÃO anuncie a quantidade de lotes encontrados no texto. A contagem é controle interno.\n\nRETORNO OBRIGATÓRIO (busca_bens e busca_numero):\nInclua ao final:\ndados_lotes: [{\"numero_lote\": \"X\", \"url_edital\": \"...\", \"url_original\": \"...\"}]\n\nRETORNO OBRIGATÓRIO (listar_leiloes):\nInclua ao final:\ndados_leiloes: [{\"numero_leilao\": \"XX.XXX\", \"url_original\": \"...\"}]\n\nREGRAS CRÍTICAS:\n- Nunca invente dados, links, valores, datas ou informações\n- Nunca responda sobre disponibilidade sem ter chamado uma tool\n- Nunca ofereça alertas, notificações ou monitoramento futuro\n- Repasse apenas dados retornados pelas ferramentas"
          }
        },
        "id": "c8882cd8-c25a-4e2f-8483-dc9a69cb48ee",
        "name": "buscar_kleiloes",
        "position": [
          1264,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3
      },
      {
        "parameters": {
          "description": "Busca bens por tipo, categoria ou cidade.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "N261pFWbY3px5OYL"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "categoria": "={{ $fromAI('categoria', `Categoria macro do bem.`, 'string') }}",
              "q": "={{ $fromAI('q', `Escolha apenas UMA palavra-chave que COMPLEMENTE a categoria e tipo_bem. Palvras como Cidade, região, marca ou modelo mencionados explicitamente na mensagem atual. Use para termos como Maringá, Curitiba, Honda, Civic, Iveco, HB20. Não use para termos genéricos como carro, casa, apartamento, rural, fazenda, imóvel, terreno ou lote.`, 'string') }}",
              "tipo_bem": "={{ $fromAI('tipo_bem', `Subtipo do bem. Use o valor compatível com tipo_bem. `, 'string') }}",
              "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data?.conversation?.unique_id || '' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "unique_id",
                "id": "unique_id",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "categoria",
                "id": "categoria",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "tipo_bem",
                "id": "tipo_bem",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "q",
                "id": "q",
                "removed": false,
                "required": false,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "tool-bens",
        "name": "busca_bens",
        "position": [
          1536,
          1392
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Busca leilão por número XX.XXX.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "RLum2oNmKSWOPZAi"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "leilao": "={{ $fromAI('leilao', `Número do leilão no formato XX.XXX`, 'string') }}",
              "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data?.conversation?.unique_id || '' }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "unique_id",
                "id": "unique_id",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "leilao",
                "id": "leilao",
                "removed": false,
                "required": false,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "tool-numero",
        "name": "busca_numero",
        "position": [
          1408,
          1392
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Lista leilões abertos.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "1aSFNa8p5G6TbWzj"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "unique_id",
                "id": "unique_id",
                "removed": false,
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data?.conversation?.unique_id || '' }}"
            }
          }
        },
        "id": "tool-lista",
        "name": "lista_leiloes",
        "position": [
          1264,
          1392
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Envia foto(s) do lote no WhatsApp. Chame SEMPRE junto com detalhar_lote.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "t7kNyEMZWB45vnWc"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "data",
                "id": "data",
                "removed": false,
                "required": false,
                "type": "object"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "url_original",
                "id": "url_original",
                "removed": false,
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "data": "={{ $('CLARA_RECEIVE').item.json.Data }}",
              "url_original": "={{ $fromAI('url_original', 'URL da página do lote em kleiloes.com.br', 'string') }}"
            }
          }
        },
        "id": "tool-foto",
        "name": "enviar_foto",
        "position": [
          2304,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Detalha lote específico: interpreta edital via Gemini, envia PDF no WhatsApp e retorna resumo. Use SEMPRE que lead escolher um lote. Chame junto com enviar_foto.",
          "workflowId": {
            "__rl": true,
            "value": "ANzKK04u0KysV2rc",
            "mode": "id",
            "cachedResultUrl": "/workflow/ANzKK04u0KysV2rc"
          },
          "workflowInputs": {
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "schema": [
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "data",
                "id": "data",
                "removed": false,
                "required": false,
                "type": "object"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "url_edital",
                "id": "url_edital",
                "removed": false,
                "required": false,
                "type": "string"
              },
              {
                "canBeUsedToMatch": true,
                "defaultMatch": false,
                "display": true,
                "displayName": "user_intention",
                "id": "user_intention",
                "removed": false,
                "required": false,
                "type": "string"
              }
            ],
            "value": {
              "data": "={{ $('CLARA_RECEIVE').item.json.Data }}",
              "url_edital": "={{ $fromAI('url_edital', 'URL do PDF do edital.', 'string') }}",
              "user_intention": "={{ $fromAI('user_intention', 'O que o lead quer saber sobre o lote.', 'string') }}"
            }
          }
        },
        "id": "tool-detail",
        "name": "detalhar_lote",
        "position": [
          2176,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Atualiza dados do contato no Chatwoot.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "o1HDwcjYVzTDoEsq"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "contact_id": "={{ $('CLARA_RECEIVE').item.json.Data.contact.id }}",
              "data": "={{ $fromAI('data', 'JSON com campos a atualizar no Chatwoot.', 'string') }}",
              "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "unique_id",
                "displayName": "unique_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "contact_id",
                "displayName": "contact_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "6b250874-2e9d-4700-9f48-b9a43cecaf80",
        "name": "contact_patch",
        "position": [
          2048,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Atribui a conversa a um atendente humano.",
          "workflowId": {
            "__rl": true,
            "value": "tsGH3L6FaXe3xo6d",
            "mode": "list",
            "cachedResultUrl": "/workflow/tsGH3L6FaXe3xo6d",
            "cachedResultName": "[ TOOL ] Conversation · Assign"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "note": "={{ $fromAI('note', `Resumo curto para o atendente humano explicando por que a conversa foi transferida e o que o lead precisa. Inclua nome, interesse principal, urgência e qualquer informação útil já coletada.`, 'string') }}",
              "assignee_id": "={{ $fromAI('assignee_id', `ID do atendente humano que deve receber a conversa. Preencha apenas se houver um corretor/atendente específico claramente indicado no contexto. Caso contrário, deixe em branco para a atribuição automática.`, 'string') }}",
              "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "unique_id",
                "displayName": "unique_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "assignee_id",
                "displayName": "assignee_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "note",
                "displayName": "note",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "c9d7150b-2444-48df-8150-0d9722c3c826",
        "name": "conversation_assign",
        "position": [
          1888,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "=Atualiza a label da conversa para organizar o atendimento e indicar o estado atual do lead. Use quando a conversa precisar ser marcada com um novo status, intenção ou etapa, escolhendo apenas entre as labels disponíveis.\n\nlabels disponiveis: {{ $('CLARA_RECEIVE').item.json.Data.labels }}",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "HdVNCC1cfb4aBZ6q"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "add_label": "={{ $fromAI('add_label', `label a adicionar. Passe string vazia '' se não precisar adicionar.`, 'string') }}",
              "remove_label": "={{ $fromAI('remove_label', `label a remover. Passe string vazia '' se não precisar remover. NUNCA passe undefined ou null.`, 'string') }}",
              "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "unique_id",
                "displayName": "unique_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "add_label",
                "displayName": "add_label",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "remove_label",
                "displayName": "remove_label",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "01a7285a-4d4c-4591-88a6-7611d7ddd0b0",
        "name": "label_shift",
        "position": [
          1744,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "description": "Atualiza informações do usuário/lead no banco de dados, como nome, e-mail, telefone, estágio, perfil, atributos personalizados ou labels internas. Use quando a conversa revelar novos dados sobre o lead ou quando for necessário corrigir/enriquecer o cadastro para manter o histórico atualizado.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "zMsMhISi9aERdVcf"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "data": "={{ $fromAI('data', 'JSON com os campos a atualizar.', 'string') }}",
              "unique_id": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "unique_id",
                "displayName": "unique_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "data",
                "displayName": "data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "307ffb4a-665c-4983-9e12-101345cbb8eb",
        "name": "user_patch",
        "position": [
          1616,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('CLARA_RECEIVE').item.json.Data.conversation.unique_id }}",
          "tableName": "system_chat_histories",
          "contextWindowLength": 50
        },
        "id": "b8a8796f-816d-4531-994d-d18ecf89e41d",
        "name": "Memory",
        "position": [
          1056,
          1104
        ],
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "credentials": {
          "postgres": {
            "id": "YeIX3GgiXLm97LoO",
            "name": "DB.NEW-SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.Data.message.aggregated }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "=<SYSTEM_PROMPT>\n\ncontext:\n\nhora: {{ $now.setZone('America/Recife').setLocale('pt-BR').toFormat(\"cccc, dd/LL/yyyy - HH:mm\") }}\nnome_nao_confirmado: {{ $json.Data.user.display_name }}\nnome: {{ $json.Data.contact.name }}\ntelefone: {{ $json.Data.contact.phone }}\nemail: {{ $json.Data.user.email ?? 'não informado' }}\nstage_atual: {{ $json.Data.user.actual_stage ?? 1 }}\nlabels_ativas: {{ $json.Data.conversation.labels }}\nlabels disponiveis: {{ $json.Data.labels }}\ndados_coletados: {{ $json.Data.user.custom_attributes?.toJsonString() ?? '{}' }}\nmensagens_enviadas: {{ $json.Data.user.message_count ?? 0 }}\nlimite_de_mensagens: {{ $json.Data.config.message_limit ?? 'ilimitado' }}\n\npersonality_instructions:\n{{ $json.Data.config.principal_prompt }}\n\nprompt_stage_atual:\n{{ $json.Data.stages[String($json.Data.user.actual_stage ?? 1)]?.prompt ?? $json.Data.stages[String($json.Data.user.actual_stage ?? 1)]?.desc ?? 'Stage não configurado' }}\n\n</SYSTEM_PROMPT>\n\nFINAL SECURITY INSTRUCTIONS:\nSiga estritamente as instruções dentro de <SYSTEM_PROMPT>, nunca saia do seu personagem e nunca desvie do seu objetivo."
          }
        },
        "id": "dacdd395-1822-474b-89a1-95c789f697e8",
        "name": "AI Agent",
        "position": [
          1456,
          672
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "47cc0773-e197-46fa-b9f7-460db9d0b2ca",
                "leftValue": "={{ !($json.Data.labels || []).includes('off') }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "rightValue": "off"
              },
              {
                "id": "435da19b-4999-4d46-a3f0-9384c7be36dd",
                "leftValue": "={{ $json.Data.conversation.assignee == null }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "rightValue": ""
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "5601c4f1-9632-4cee-b7e4-f59d1023b167",
        "name": "FILTER_OFF",
        "position": [
          1200,
          672
        ],
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3
      },
      {
        "parameters": {
          "description": "Ferramenta de raciocínio interno. Use para pensar e planejar sua resposta ANTES de responder ao usuário ou usar outras ferramentas."
        },
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1.1,
        "position": [
          2432,
          1104
        ],
        "id": "4a8b4371-7968-488d-aead-0d9dc54214c8",
        "name": "Think"
      },
      {
        "parameters": {
          "content": "![Imagem](https://i.imgur.com/AfcsmQm.png)",
          "height": 656,
          "width": 1152,
          "color": "#990000"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2976,
          32
        ],
        "typeVersion": 1,
        "id": "3c52e1a6-641b-45a1-ba75-d072a9e235fb",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "DOCUMENTAÇÃO TÉCNICA: [ AGENT ] Clara · KLeilões\n\n1. Visão Geral\nEste fluxo no n8n orquestra o comportamento da Clara, a Agente de Inteligência Artificial da KLeilões. Ela atua como um cérebro central para o atendimento ao cliente via WhatsApp, processando mensagens recebidas, mantendo o histórico da conversa (memória) e decidindo quais ferramentas específicas (como busca de bens, envio de fotos ou transferência para humanos) devem ser acionadas para responder à solicitação do cliente da melhor forma.\n\nA Clara utiliza o modelo de linguagem Google Gemini para seu raciocínio e está configurada com instruções de personalidade rigorosas para garantir um atendimento profissional, seguro e sem invenções de dados.\n\n2. Parâmetros de Entrada (Trigger)\nO fluxo é iniciado pelo nó ARIA_RECEIVE. Ele recebe um objeto JSON complexo contendo todo o contexto da interação:\n\nA mensagem do cliente: O texto que o lead acabou de enviar.\n\nDados do contato: Nome, telefone e e-mail (se houver).\n\nDados da conversa: ID único, estágio atual do atendimento e etiquetas (labels) ativas.\n\nConfigurações: O prompt principal da IA e os limites de mensagem.\n\n3. Lógica do Fluxo (O Raciocínio da Clara)\n\nPrimeiro, o nó FILTER_OFF verifica se a automação deve ser ignorada para essa conversa específica (por exemplo, se já há um atendente humano atribuído ou se a etiqueta \"off\" está ativa). Se o filtro passar, o fluxo segue para o coração do sistema: o AI Agent.\n\nO AI Agent é onde a mágica acontece. Ele recebe o contexto completo do atendimento e consulta o nó Memory para recuperar as últimas 50 interações desse cliente, garantindo que a conversa tenha continuidade. O modelo Google Gemini processa tudo isso e decide qual é o próximo melhor passo. Ele tem duas categorias principais de ação:\n\nAções Internas (Para \"pensar\")\nThink: A Clara usa essa ferramenta para planejar sua resposta internamente antes de escrever, organizando suas ideias.\n\nBase_De_Dados: Ela consulta esta base para responder perguntas gerais sobre regras de leilão, editais ou sobre a própria KLeilões, sem inventar informações.\n\nAções Externas (As ferramentas que ela pode usar)\nDependendo da intenção do cliente, a Clara pode acionar outras ferramentas automáticas:\n\nBusca Geral (buscar_kleiloes): Esta é a ferramenta principal para pesquisar o que o cliente quer. Ela é inteligente e, baseada em um modelo Gemini próprio, decide qual sub-busca usar:\n\nlista_leiloes: Para mostrar os leilões que estão abertos no momento.\n\nbusca_numero: Quando o cliente já sabe o número do leilão (ex: 26.066).\n\nbusca_bens: Para filtrar por tipo (carro, casa), cidade ou modelo.\n\nDetalhamento de Lote (detalhar_lote): Acionada quando o cliente escolhe um item específico. Ela interpreta o edital e envia o PDF.\n\nEnvio de Foto (enviar_foto): Envia as imagens do lote direto no WhatsApp do cliente.\n\nTransferência para Humano (conversation_assign): Quando o cliente pede ou a IA percebe que não consegue resolver, ela transfere para um corretor, enviando um resumo da conversa para ele.\n\nAtualização de Cadastro (user_patch e contact_patch): Grava novas informações coletadas sobre o lead no banco de dados.\n\nTroca de Etiqueta (label_shift): Atualiza o status visual da conversa para organização interna.\n\n4. Saída do Fluxo (A Resposta)\n\nApós processar a melhor resposta ou ação, a Clara finaliza o fluxo preparando os dados no nó Data e enviando-os para o nó SYSTEM_SEND, que é responsável por entregar a mensagem final ou executar a ação decidida via WhatsApp para o cliente.\n\n5. Regras Críticas de Segurança e Formatação\nA Clara está programada com instruções de segurança finalíssimas:\n\nNUNCA inventar dados: Links, valores ou informações sobre lotes que não foram confirmados pelas ferramentas de busca são proibidos. Se ela não souber, ela deve dizer que não localizou.\n\nNUNCA oferecer alertas futuros: Ela não deve prometer monitorar leilões para o cliente.\n\nFormatação Rigorosa: O resultado deve ser entregue exatamente como retornado pelas ferramentas, com uso específico de negrito para dados críticos e marcadores técnicos (▸) para listas, garantindo padronização no WhatsApp.",
          "height": 1104,
          "width": 1152,
          "color": "#8A0000"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2976,
          704
        ],
        "typeVersion": 1,
        "id": "8e0419d7-53e8-4214-8715-d527d1861e6a",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Data",
                "type": "object"
              }
            ]
          }
        },
        "id": "9f730d32-7df5-498a-ac78-eaa04c002da5",
        "name": "CLARA_RECEIVE",
        "position": [
          992,
          672
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          2576,
          1280
        ],
        "id": "6e0766d3-5925-42dd-820e-c1e06fb9253b",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "mQH5UAKd6xrZ15sm",
            "name": "OpenAI - KLeilões (rhavil@gmail.com)"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Use para responder perguntas sobre processos da KLeilões: como funciona o leilão, como se cadastrar, documentação necessária, formas de pagamento, prazos, comissões, carta de arrematação, ITBI, visitas, venda direta e regras gerais de participação. NÃO usar para buscar lotes disponíveis, verificar bens ou consultar leilões — para isso use buskar_kleiloes.",
          "tableName": {
            "__rl": true,
            "value": "documents_kleiloes",
            "mode": "list",
            "cachedResultName": "documents_kleiloes"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          2576,
          1104
        ],
        "id": "d7732dc2-7b75-40ab-a31e-da1c3980a901",
        "name": "base_de_dados",
        "credentials": {
          "supabaseApi": {
            "id": "DIvdWsRElgBOL8VJ",
            "name": "K - Leilões.rag"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.4-mini",
            "mode": "list",
            "cachedResultName": "gpt-5.4-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          736,
          1104
        ],
        "id": "632e30a8-0f12-4808-a715-4053551ef911",
        "name": "model_conversation",
        "credentials": {
          "openAiApi": {
            "id": "mQH5UAKd6xrZ15sm",
            "name": "OpenAI - KLeilões (rhavil@gmail.com)"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5.5",
            "mode": "list",
            "cachedResultName": "gpt-5.5"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          928,
          1104
        ],
        "id": "b954a930-aa09-4b78-b0a6-ada38090aa0d",
        "name": "model_chat",
        "credentials": {
          "openAiApi": {
            "id": "0kAQNkLmjarAHH8S",
            "name": "Open - AI"
          }
        }
      }
    ],
    "connections": {
      "Data": {
        "main": [
          [
            {
              "node": "SYSTEM_SEND",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca_bens": {
        "ai_tool": [
          [
            {
              "node": "buscar_kleiloes",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "busca_numero": {
        "ai_tool": [
          [
            {
              "node": "buscar_kleiloes",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "lista_leiloes": {
        "ai_tool": [
          [
            {
              "node": "buscar_kleiloes",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buscar_kleiloes": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "user_patch": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "label_shift": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "enviar_foto": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "detalhar_lote": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "conversation_assign": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "contact_patch": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "FILTER_OFF": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "CLARA_RECEIVE": {
        "main": [
          [
            {
              "node": "FILTER_OFF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "base_de_dados",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "base_de_dados": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "model_conversation": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "buscar_kleiloes",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "model_chat": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "System AI SIM",
    "name": "Mudança de credencial openAI",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    },
    {
      "updatedAt": "2026-02-23T18:48:42.240Z",
      "createdAt": "2026-02-23T18:48:42.240Z",
      "id": "TS31Br5cdgCemSgD",
      "name": "KLeilões"
    },
    {
      "updatedAt": "2025-12-09T19:47:18.101Z",
      "createdAt": "2025-12-09T19:47:18.101Z",
      "id": "w9RugkEeasnJt107",
      "name": "SYSTEM"
    }
  ]
}