workflows/_CRON_FollowUp_Executor.json
{
  "updatedAt": "2026-06-10T20:38:46.500Z",
  "createdAt": "2026-05-03T02:55:21.542Z",
  "id": "p4Fh7VueafvJHQxf",
  "name": "[ CRON ] FollowUp · Executor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2320,
        208
      ],
      "id": "2dc38ddb-b9b4-4749-9714-8b8a964846a7",
      "name": "Schedule Trigger",
      "notes": "⏱️ Roda a cada 5 minutos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cleanup_stale_followups();",
        "options": {
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2080,
        208
      ],
      "id": "1d7c16fa-773d-4f3a-bba9-776ff821899b",
      "name": "CLEANUP",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "continueOnFail": true,
      "notes": "Cancela follow-ups expirados, por label bloqueada, max_count etc."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_pending_followups();",
        "options": {
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1840,
        208
      ],
      "id": "c0de1c47-611a-4093-a6a5-0265583410df",
      "name": "GET_PENDING",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "notes": "Retorna até 200 follow-ups prontos — respeita janela horária, labels e max_count"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1600,
        208
      ],
      "id": "9e6ed486-d671-4d92-995d-b39db9ff8d2a",
      "name": "LOOP",
      "notes": "Processa 1 follow-up por vez"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT load_project({{ $json.account_id }}) as config;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1360,
        208
      ],
      "id": "a6df02ad-8fb1-4073-96a5-88e1ee25bc79",
      "name": "LOAD_PROJECT",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "notes": "Carrega config completa do projeto: stages, prompts, tokens, base_url etc."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p-01",
              "name": "followup_id",
              "value": "={{ $('LOOP').item.json.id }}",
              "type": "number"
            },
            {
              "id": "p-02",
              "name": "user_id",
              "value": "={{ $('LOOP').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "p-03",
              "name": "account_id",
              "value": "={{ $('LOOP').item.json.account_id }}",
              "type": "number"
            },
            {
              "id": "p-04",
              "name": "inbox_id",
              "value": "={{ $('LOOP').item.json.inbox_id }}",
              "type": "number"
            },
            {
              "id": "p-05",
              "name": "conversation_id",
              "value": "={{ $('LOOP').item.json.conversation_id }}",
              "type": "number"
            },
            {
              "id": "p-06",
              "name": "contact_id",
              "value": "={{ $('LOOP').item.json.contact_id }}",
              "type": "number"
            },
            {
              "id": "p-07",
              "name": "count",
              "value": "={{ $('LOOP').item.json.count }}",
              "type": "number"
            },
            {
              "id": "p-08",
              "name": "last_user_message",
              "value": "={{ $('LOOP').item.json.last_user_message || '' }}",
              "type": "string"
            },
            {
              "id": "p-09",
              "name": "display_name",
              "value": "={{ $('LOOP').item.json.user_display_name || $('LOOP').item.json.user_name || 'Responsável' }}",
              "type": "string"
            },
            {
              "id": "p-10",
              "name": "user_labels",
              "value": "={{ $('LOOP').item.json.user_labels || [] }}",
              "type": "array"
            },
            {
              "id": "p-11",
              "name": "user_profile",
              "value": "={{ $('LOOP').item.json.user_profile || {} }}",
              "type": "object"
            },
            {
              "id": "p-12",
              "name": "actual_stage",
              "value": "={{ $('LOOP').item.json.actual_stage || 1 }}",
              "type": "number"
            },
            {
              "id": "p-13",
              "name": "prompt_template",
              "value": "={{ $('LOOP').item.json.prompt_template || '' }}",
              "type": "string"
            },
            {
              "id": "p-14",
              "name": "project_key",
              "value": "={{ $('LOOP').item.json.project_key }}",
              "type": "string"
            },
            {
              "id": "p-15",
              "name": "base_url",
              "value": "={{ $json.config.base_url }}",
              "type": "string"
            },
            {
              "id": "p-16",
              "name": "user_token",
              "value": "={{ $json.config.user_token }}",
              "type": "string"
            },
            {
              "id": "p-17",
              "name": "bot_token",
              "value": "={{ $json.config.bot_token }}",
              "type": "string"
            },
            {
              "id": "p-18",
              "name": "config_prompt",
              "value": "={{ $json.config.config_prompt || '' }}",
              "type": "string"
            },
            {
              "id": "p-19",
              "name": "stages",
              "value": "={{ $json.config.stages || {} }}",
              "type": "object"
            },
            {
              "id": "p-20",
              "name": "stage_info",
              "value": "={{ ($json.config.stages || {})[$('LOOP').item.json.actual_stage] || ($json.config.stages || {})[String($('LOOP').item.json.actual_stage)] || {} }}",
              "type": "object"
            },
            {
              "id": "p-21",
              "name": "project_name",
              "value": "={{ $json.config.project_name || '' }}",
              "type": "string"
            },
            {
              "id": "p-22",
              "name": "message_limit",
              "value": "={{ $json.config.message_limit || null }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        208
      ],
      "id": "6f85b1b2-b700-4c4c-8e27-da44775e2a26",
      "name": "PREPARE_CONTEXT",
      "notes": "📦 Merge: dados do follow-up (LOOP) + config do projeto (LOAD_PROJECT). stage_info = stages[actual_stage]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, session_id, message FROM system_chat_histories WHERE session_id = '{{ $json.user_id }}' ORDER BY id DESC LIMIT 30;",
        "options": {
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        208
      ],
      "id": "27544709-2dd3-4680-8395-0dcc8e940ac3",
      "name": "GET_MEMORY",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "notes": "Busca últimas 30 mensagens da conversa para contexto"
    },
    {
      "parameters": {
        "jsCode": "const allData = items.map(i => i.json);\nallData.sort((a, b) => a.id - b.id);\nreturn allData.map(e => ({ json: e }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        208
      ],
      "id": "456bf7bb-178b-4314-b0a4-62c87546f28d",
      "name": "Sort_Memory"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "message",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -400,
        208
      ],
      "id": "dbb87463-db18-41d3-a0da-580b8dc08d09",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-count1",
              "leftValue": "={{ $('PREPARE_CONTEXT').item.json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        208
      ],
      "id": "41e4c9cf-eeec-49bb-92fe-1efd19ba76f9",
      "name": "IF_COUNT1",
      "notes": "true = primeiro follow-up (count=0) → atualiza perfil | false = reenvio → direto ao agente"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=NOME: {{ $('PREPARE_CONTEXT').item.json.display_name }}\nSTAGE ATUAL: {{ $('PREPARE_CONTEXT').item.json.actual_stage }}\nLABELS ATUAIS: {{ ($('PREPARE_CONTEXT').item.json.user_labels || []).join(', ') || 'nenhuma' }}\nPERFIL ANTERIOR: {{ JSON.stringify($('PREPARE_CONTEXT').item.json.user_profile) }}\nÚLTIMA MENSAGEM: {{ $('PREPARE_CONTEXT').item.json.last_user_message }}\n\nHISTÓRICO RECENTE:\n{{ $('Summarize').item.json.concatenated_message || 'Sem histórico disponível' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um analisador de perfil de usuário do projeto {{ $('PREPARE_CONTEXT').item.json.project_name }}.\n\nSua tarefa:\n1. Analisar o histórico completo da conversa\n2. Gerar um perfil atualizado do usuário\n3. Usar a tool update_labels se houver mudanças evidentes de estágio no funil (apenas com evidência concreta — nunca por suposição)\n\nRegras:\n- Mantenha informações anteriores ainda válidas\n- Registre apenas fatos explícitos, nunca suposições\n- Consulte as labels atuais antes de qualquer atualização\n- Só use a tool se houver mudança real necessária\n\nRetorne APENAS JSON válido sem markdown:\n{\n  \"full_user_profile\": \"perfil completo e detalhado em texto corrido\",\n  \"summary_user_profile\": \"resumo objetivo em 1 parágrafo para atendentes\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        128,
        -272
      ],
      "id": "aa5cf5b1-72df-484e-9de7-be1143974e93",
      "name": "PROFILE_AGENT",
      "retryOnFail": true,
      "onError": "continueErrorOutput",
      "notes": "Só roda no primeiro follow-up (count=0). Atualiza perfil e labels."
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -16
      ],
      "id": "0a8a700b-306b-41dd-8929-cec530e02d49",
      "name": "Gemini_Profile"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"full_user_profile\": \"texto completo detalhado\", \"summary_user_profile\": \"resumo em um parágrafo\"}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        608,
        -64
      ],
      "id": "3cea76fe-220f-4114-9c1b-0696eede7e23",
      "name": "Structured Output Parser",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "Adiciona e/ou remove labels da conversa no Cria.chat Use apenas com evidência concreta no histórico. Nunca por suposição.",
        "workflowId": {
          "__rl": true,
          "value": "HdVNCC1cfb4aBZ6q",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "unique_id": "={{ $('PREPARE_CONTEXT').item.json.user_id }}",
            "add_label": "={{ $fromAI('add_label', 'label a adicionar, ou string vazia se nenhuma', 'string') }}",
            "remove_label": "={{ $fromAI('remove_label', 'label a remover, ou string vazia se nenhuma', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "unique_id",
              "displayName": "unique_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "add_label",
              "displayName": "add_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "remove_label",
              "displayName": "remove_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        320,
        -16
      ],
      "id": "cb816db5-e0a4-442b-8a83-de9c8a667e44",
      "name": "Tool_Label_Shift"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('PREPARE_CONTEXT').item.json;\nlet raw = $input.item.json.output || {};\n\nif (typeof raw === 'string') {\n  try {\n    raw = JSON.parse(raw.replace(/```json|```/g, '').trim());\n  } catch (e) {\n    raw = { full_user_profile: raw, summary_user_profile: '' };\n  }\n}\n\nconst full    = raw.full_user_profile    || JSON.stringify(ctx.user_profile) || '';\nconst summary = raw.summary_user_profile || '';\n\nconst esc = s => String(s).replace(/'/g, \"''\");\n\nreturn {\n  json: {\n    full_user_profile:    full,\n    summary_user_profile: summary,\n    user_id:              ctx.user_id,\n    contact_id:           ctx.contact_id,\n    account_id:           ctx.account_id,\n    base_url:             ctx.base_url,\n    user_token:           ctx.user_token,\n    save_profile_sql:     `UPDATE users SET user_profile = '${esc(JSON.stringify({ full: full, summary: summary }))}'::jsonb, updated_at = NOW() WHERE user_id = '${esc(ctx.user_id)}';`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -288
      ],
      "id": "b61c2026-ab8b-42bd-b379-e6faa4784877",
      "name": "PARSE_PROFILE",
      "notes": "Extrai full/summary do output do agente, monta SQL de update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.save_profile_sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        -288
      ],
      "id": "33ebce6d-a8e1-40a9-a4d6-02fc2bc27426",
      "name": "SAVE_PROFILE",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.base_url }}/api/v1/accounts/{{ $json.account_id }}/contacts/{{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.user_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ additional_attributes: { description: $json.summary_user_profile } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        -288
      ],
      "id": "d0b5d8ba-b9f7-4297-94f2-c759e9433b6c",
      "name": "PUT_CONTACT",
      "continueOnFail": true,
      "notes": "Atualiza description do contato no Chatwoot com o summary_user_profile"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=NOME: {{ $('PREPARE_CONTEXT').item.json.display_name }}\nSTAGE: {{ $('PREPARE_CONTEXT').item.json.actual_stage }}\nLABELS: {{ ($('PREPARE_CONTEXT').item.json.user_labels || []).join(', ') || 'nenhuma' }}\nPERFIL: {{ JSON.stringify($('PREPARE_CONTEXT').item.json.user_profile) }}\nFOLLOW-UP Nº: {{ $('PREPARE_CONTEXT').item.json.count + 1 }}\nÚLTIMA MENSAGEM DO CLIENTE: {{ $('PREPARE_CONTEXT').item.json.last_user_message || 'não disponível' }}\n\nHISTÓRICO RECENTE:\n{{ $('Summarize').item.json.concatenated_message || 'Sem histórico disponível' }}",
        "options": {
          "systemMessage": "={{ $('PREPARE_CONTEXT').item.json.config_prompt }}\n\n---\nESTÁGIO ATUAL DO FUNIL ({{ $('PREPARE_CONTEXT').item.json.actual_stage }}):\n{{ JSON.stringify($('PREPARE_CONTEXT').item.json.stage_info) }}\n\n---\nINSTRUÇÕES DE FOLLOW-UP:\n{{ $('PREPARE_CONTEXT').item.json.prompt_template }}\n\n⚠️ REGRA CRÍTICA: Responda APENAS com o texto da mensagem de follow-up. Texto puro e natural para WhatsApp. Sem ferramentas, sem JSON, sem markdown, sem preamble, sem explicações."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1712,
        224
      ],
      "id": "5cb4d9e5-39c7-4bc2-84a5-94964e026c6a",
      "name": "FOLLOWUP_AGENT",
      "retryOnFail": true,
      "onError": "continueErrorOutput",
      "notes": "Gera mensagem de follow-up personalizada usando config_prompt + stage_info + prompt_template"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1664,
        448
      ],
      "id": "ca0cc148-3f60-4f50-b7ae-ee3733bf5c45",
      "name": "Gemini_Followup"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($input.item.json.output || '');\n\nconst clean = raw\n  .replace(/Calling\\s+\\w[\\w_]*\\s+with[\\s\\S]*?\\}/gi, '')\n  .replace(/\\{\\s*\"[^\"]+\"\\s*:[\\s\\S]*?\\}/g, '')\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/^(Tool|Function|Action)\\s*:.*$/gim, '')\n  .replace(/\\*{1,3}([^*]+)\\*{1,3}/g, '$1')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn {\n  json: {\n    message: clean || 'Olá! Passei para ver se posso ajudar em algo. 😊'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        208
      ],
      "id": "cce6e670-57e1-4f71-9516-f354c3c8fdf8",
      "name": "SANITIZE_OUTPUT",
      "notes": "Remove lixo de tool-calls, JSON e markdown que o modelo às vezes inclui"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('PREPARE_CONTEXT').item.json.base_url }}/api/v1/accounts/{{ $('PREPARE_CONTEXT').item.json.account_id }}/conversations/{{ $('PREPARE_CONTEXT').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('PREPARE_CONTEXT').item.json.bot_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.message, message_type: 'outgoing' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        208
      ],
      "id": "1d328c27-b559-45f3-ab60-6b97e3cfc7a7",
      "name": "ENVIAR_CHATWOOT",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 3
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_chat_histories",
          "mode": "list",
          "cachedResultName": "system_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('PREPARE_CONTEXT').item.json.user_id }}",
            "message": "={{ JSON.stringify({ type: 'ai', content: 'FOLLOW-UP: ' + ($('SANITIZE_OUTPUT').item.json.message || ''), tool_calls: [], additional_kwargs: {}, response_metadata: {}, invalid_tool_calls: [] }) }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2624,
        208
      ],
      "id": "646629bd-8a92-41b1-97d2-672a936582fe",
      "name": "SAVE_CHAT",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "notes": "Salva no histórico com prefixo FOLLOW-UP: para o agente saber que foi follow-up"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT update_followup_after_send({{ $('PREPARE_CONTEXT').item.json.followup_id }});",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        208
      ],
      "id": "1b946748-76a8-4267-9286-9098b7e54381",
      "name": "UPDATE_FOLLOWUP",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "notes": "Marca como sent, incrementa count, insere próximo follow-up com intervalo correto"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        128
      ],
      "id": "34c8e868-912e-444e-a98b-9cb34faf33dc",
      "name": "Google Gemini Chat Model"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CLEANUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLEANUP": {
      "main": [
        [
          {
            "node": "GET_PENDING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_PENDING": {
      "main": [
        [
          {
            "node": "LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOOP": {
      "main": [
        [],
        [
          {
            "node": "LOAD_PROJECT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOAD_PROJECT": {
      "main": [
        [
          {
            "node": "PREPARE_CONTEXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREPARE_CONTEXT": {
      "main": [
        [
          {
            "node": "GET_MEMORY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_MEMORY": {
      "main": [
        [
          {
            "node": "Sort_Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort_Memory": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "IF_COUNT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_COUNT1": {
      "main": [
        [
          {
            "node": "PROFILE_AGENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FOLLOWUP_AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROFILE_AGENT": {
      "main": [
        [
          {
            "node": "PARSE_PROFILE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FOLLOWUP_AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini_Profile": {
      "ai_languageModel": [
        [
          {
            "node": "PROFILE_AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "PROFILE_AGENT",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Label_Shift": {
      "ai_tool": [
        [
          {
            "node": "PROFILE_AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PARSE_PROFILE": {
      "main": [
        [
          {
            "node": "SAVE_PROFILE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE_PROFILE": {
      "main": [
        [
          {
            "node": "PUT_CONTACT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT_CONTACT": {
      "main": [
        [
          {
            "node": "FOLLOWUP_AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FOLLOWUP_AGENT": {
      "main": [
        [
          {
            "node": "SANITIZE_OUTPUT",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gemini_Followup": {
      "ai_languageModel": [
        [
          {
            "node": "FOLLOWUP_AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SANITIZE_OUTPUT": {
      "main": [
        [
          {
            "node": "ENVIAR_CHATWOOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ENVIAR_CHATWOOT": {
      "main": [
        [
          {
            "node": "SAVE_CHAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE_CHAT": {
      "main": [
        [
          {
            "node": "UPDATE_FOLLOWUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE_FOLLOWUP": {
      "main": [
        [
          {
            "node": "LOOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "TaLOAW8gj0JIGTwW",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "84a5bb01-a007-453d-b04f-13969cc1d9fd",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-03T02:55:21.542Z",
      "createdAt": "2026-05-03T02:55:21.542Z",
      "role": "workflow:owner",
      "workflowId": "p4Fh7VueafvJHQxf",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    }
  ]
}