workflows/_TOOL_Bens_Search_KLeiloes.json
{
  "updatedAt": "2026-06-10T20:43:45.455Z",
  "createdAt": "2026-05-05T08:28:17.455Z",
  "id": "N261pFWbY3px5OYL",
  "name": "[ TOOL ] Bens · Search · KLeilões",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "unique_id"
            },
            {
              "name": "categoria"
            },
            {
              "name": "tipo_bem"
            },
            {
              "name": "q"
            }
          ]
        }
      },
      "id": "8cef591f-eeaa-45da-98f5-115e9260dc42",
      "name": "Trigger",
      "position": [
        3488,
        1168
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc1",
              "leftValue": "={{ (($('Trigger').item.json.categoria || '') + '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c52f9af9-e1ea-49ea-84a8-cb6f40e8a18c",
      "name": "Filter_Categoria",
      "position": [
        3808,
        1008
      ],
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc2",
              "leftValue": "={{ (($('Trigger').item.json.tipo_bem || '') + '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44f06fe8-bffe-4ae3-9053-e7554e87c223",
      "name": "Filter_TipoBem",
      "position": [
        3808,
        1168
      ],
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc3",
              "leftValue": "={{ (($('Trigger').item.json.q || '') + '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3638c0e-fe37-445d-8365-adec65758c3d",
      "name": "Filter_Query",
      "position": [
        3808,
        1328
      ],
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=https://admkl.emps.online/n8n?table=lotes&categoria={{ encodeURIComponent((($('Trigger').item.json.categoria || '') + '').trim()) }}&limit=300&offset=0",
        "options": {
          "timeout": 20000
        }
      },
      "id": "c4976e89-15c3-4ce0-bbfa-2ce02d3b8ea5",
      "name": "GET_Categoria",
      "position": [
        4048,
        1008
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://admkl.emps.online/n8n?table=lotes&tipo_bem={{ encodeURIComponent((($('Trigger').item.json.tipo_bem || '') + '').trim()) }}&limit=300&offset=0",
        "options": {
          "timeout": 20000
        }
      },
      "id": "e602aa14-43bd-4b09-aac6-aad9510eac8f",
      "name": "GET_TipoBem",
      "position": [
        4048,
        1168
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://admkl.emps.online/n8n?table=lotes&q={{ encodeURIComponent((($('Trigger').item.json.q || '') + '').trim()) }}&limit=300&offset=0",
        "options": {
          "timeout": 20000
        }
      },
      "id": "517145e9-bfeb-43f8-9f53-398ee0090c73",
      "name": "GET_Query",
      "position": [
        4048,
        1328
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "a39ec9fa-5179-4972-892f-53ad80c242ee",
      "name": "Split_Categoria",
      "position": [
        4256,
        1008
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b8920b35-047a-4b23-ba67-b409354cc9c8",
      "name": "Split_TipoBem",
      "position": [
        4256,
        1168
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "f7ba489b-9aba-4609-b1bc-fd965b889878",
      "name": "Split_Query",
      "position": [
        4256,
        1328
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "da9a0838-83c8-487a-9e11-55c2c0cb1271",
      "name": "Merge",
      "position": [
        4480,
        1152
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const itens = $input.all().map(i => i.json);\nconst termo = (($('Trigger').first().json.q || '') + '').trim().toLowerCase();\n\n// dedup por id (mantém primeira ocorrência)\nconst vistos = new Set();\nconst unicos = [];\nfor (const lote of itens) {\n  const id = lote.id;\n  if (id == null) { unicos.push(lote); continue; }\n  if (vistos.has(id)) continue;\n  vistos.add(id);\n  unicos.push(lote);\n}\n\n// função: lote casa com o termo do q?\nfunction casaComTermo(lote, termo) {\n  if (!termo) return false;\n  const campos = [\n    lote.descricao, lote.titulo, lote.nome, lote.tipo_bem,\n    lote.categoria, lote.cidade, lote.municipio, lote.uf, lote.bem\n  ];\n  const texto = campos.filter(Boolean).join(' ').toLowerCase();\n  return texto.includes(termo);\n}\n\n// ordena: quem casa com o termo do q vai primeiro, mantém ordem relativa dentro de cada grupo\nlet lotes = unicos;\nif (termo) {\n  const batem = [];\n  const resto = [];\n  for (const lote of unicos) {\n    if (casaComTermo(lote, termo)) batem.push(lote);\n    else resto.push(lote);\n  }\n  lotes = [...batem, ...resto];\n}\n\nreturn [{\n  json: {\n    unique_id: $('Trigger').first().json.unique_id,\n    total: lotes.length,\n    lotes: lotes\n  }\n}];"
      },
      "id": "f38308f1-232c-4ddd-8270-379511d9ba0e",
      "name": "SET_RESPONSE",
      "position": [
        4704,
        1168
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Filter_Categoria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter_TipoBem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_Categoria": {
      "main": [
        [
          {
            "node": "GET_Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_TipoBem": {
      "main": [
        [
          {
            "node": "GET_TipoBem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_Query": {
      "main": [
        [
          {
            "node": "GET_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_Categoria": {
      "main": [
        [
          {
            "node": "Split_Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_TipoBem": {
      "main": [
        [
          {
            "node": "Split_TipoBem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_Query": {
      "main": [
        [
          {
            "node": "Split_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Categoria": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_TipoBem": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split_Query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SET_RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "TaLOAW8gj0JIGTwW"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Trigger": [
      {
        "json": {
          "unique_id": "83-131-4",
          "categoria": "Veículos",
          "tipo_bem": "Carros",
          "q": "Honda"
        }
      }
    ]
  },
  "versionId": "008865f4-20f1-4b55-baef-41392438671c",
  "activeVersionId": "008865f4-20f1-4b55-baef-41392438671c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T08:28:17.455Z",
      "createdAt": "2026-05-05T08:28:17.455Z",
      "role": "workflow:owner",
      "workflowId": "N261pFWbY3px5OYL",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-10T20:43:38.082Z",
    "createdAt": "2026-06-10T18:15:31.001Z",
    "versionId": "008865f4-20f1-4b55-baef-41392438671c",
    "workflowId": "N261pFWbY3px5OYL",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "unique_id"
              },
              {
                "name": "categoria"
              },
              {
                "name": "tipo_bem"
              },
              {
                "name": "q"
              }
            ]
          }
        },
        "id": "8cef591f-eeaa-45da-98f5-115e9260dc42",
        "name": "Trigger",
        "position": [
          3488,
          1168
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fc1",
                "leftValue": "={{ (($('Trigger').item.json.categoria || '') + '').trim() }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c52f9af9-e1ea-49ea-84a8-cb6f40e8a18c",
        "name": "Filter_Categoria",
        "position": [
          3808,
          1008
        ],
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fc2",
                "leftValue": "={{ (($('Trigger').item.json.tipo_bem || '') + '').trim() }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "44f06fe8-bffe-4ae3-9053-e7554e87c223",
        "name": "Filter_TipoBem",
        "position": [
          3808,
          1168
        ],
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fc3",
                "leftValue": "={{ (($('Trigger').item.json.q || '') + '').trim() }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d3638c0e-fe37-445d-8365-adec65758c3d",
        "name": "Filter_Query",
        "position": [
          3808,
          1328
        ],
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "url": "=https://admkl.emps.online/n8n?table=lotes&categoria={{ encodeURIComponent((($('Trigger').item.json.categoria || '') + '').trim()) }}&limit=300&offset=0",
          "options": {
            "timeout": 20000
          }
        },
        "id": "c4976e89-15c3-4ce0-bbfa-2ce02d3b8ea5",
        "name": "GET_Categoria",
        "position": [
          4048,
          1008
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "url": "=https://admkl.emps.online/n8n?table=lotes&tipo_bem={{ encodeURIComponent((($('Trigger').item.json.tipo_bem || '') + '').trim()) }}&limit=300&offset=0",
          "options": {
            "timeout": 20000
          }
        },
        "id": "e602aa14-43bd-4b09-aac6-aad9510eac8f",
        "name": "GET_TipoBem",
        "position": [
          4048,
          1168
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "url": "=https://admkl.emps.online/n8n?table=lotes&q={{ encodeURIComponent((($('Trigger').item.json.q || '') + '').trim()) }}&limit=300&offset=0",
          "options": {
            "timeout": 20000
          }
        },
        "id": "517145e9-bfeb-43f8-9f53-398ee0090c73",
        "name": "GET_Query",
        "position": [
          4048,
          1328
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "id": "a39ec9fa-5179-4972-892f-53ad80c242ee",
        "name": "Split_Categoria",
        "position": [
          4256,
          1008
        ],
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "id": "b8920b35-047a-4b23-ba67-b409354cc9c8",
        "name": "Split_TipoBem",
        "position": [
          4256,
          1168
        ],
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "id": "f7ba489b-9aba-4609-b1bc-fd965b889878",
        "name": "Split_Query",
        "position": [
          4256,
          1328
        ],
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "id": "da9a0838-83c8-487a-9e11-55c2c0cb1271",
        "name": "Merge",
        "position": [
          4480,
          1152
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3
      },
      {
        "parameters": {
          "jsCode": "const itens = $input.all().map(i => i.json);\nconst termo = (($('Trigger').first().json.q || '') + '').trim().toLowerCase();\n\n// dedup por id (mantém primeira ocorrência)\nconst vistos = new Set();\nconst unicos = [];\nfor (const lote of itens) {\n  const id = lote.id;\n  if (id == null) { unicos.push(lote); continue; }\n  if (vistos.has(id)) continue;\n  vistos.add(id);\n  unicos.push(lote);\n}\n\n// função: lote casa com o termo do q?\nfunction casaComTermo(lote, termo) {\n  if (!termo) return false;\n  const campos = [\n    lote.descricao, lote.titulo, lote.nome, lote.tipo_bem,\n    lote.categoria, lote.cidade, lote.municipio, lote.uf, lote.bem\n  ];\n  const texto = campos.filter(Boolean).join(' ').toLowerCase();\n  return texto.includes(termo);\n}\n\n// ordena: quem casa com o termo do q vai primeiro, mantém ordem relativa dentro de cada grupo\nlet lotes = unicos;\nif (termo) {\n  const batem = [];\n  const resto = [];\n  for (const lote of unicos) {\n    if (casaComTermo(lote, termo)) batem.push(lote);\n    else resto.push(lote);\n  }\n  lotes = [...batem, ...resto];\n}\n\nreturn [{\n  json: {\n    unique_id: $('Trigger').first().json.unique_id,\n    total: lotes.length,\n    lotes: lotes\n  }\n}];"
        },
        "id": "f38308f1-232c-4ddd-8270-379511d9ba0e",
        "name": "SET_RESPONSE",
        "position": [
          4704,
          1168
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Filter_Categoria",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter_TipoBem",
              "type": "main",
              "index": 0
            },
            {
              "node": "Filter_Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter_Categoria": {
        "main": [
          [
            {
              "node": "GET_Categoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter_TipoBem": {
        "main": [
          [
            {
              "node": "GET_TipoBem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter_Query": {
        "main": [
          [
            {
              "node": "GET_Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET_Categoria": {
        "main": [
          [
            {
              "node": "Split_Categoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET_TipoBem": {
        "main": [
          [
            {
              "node": "Split_TipoBem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET_Query": {
        "main": [
          [
            {
              "node": "Split_Query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split_Categoria": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split_TipoBem": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Split_Query": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "SET_RESPONSE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "System AI SIM",
    "name": "Version 008865f4",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    },
    {
      "updatedAt": "2026-02-23T18:48:42.240Z",
      "createdAt": "2026-02-23T18:48:42.240Z",
      "id": "TS31Br5cdgCemSgD",
      "name": "KLeilões"
    },
    {
      "updatedAt": "2025-12-09T19:47:18.101Z",
      "createdAt": "2025-12-09T19:47:18.101Z",
      "id": "w9RugkEeasnJt107",
      "name": "SYSTEM"
    }
  ]
}