workflows/_TOOL_payment.json
{
  "updatedAt": "2026-06-10T12:32:23.716Z",
  "createdAt": "2026-05-18T13:35:27.408Z",
  "id": "wIMMxcUIxGI5lkGn",
  "name": "[ TOOL ] payment",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "unique_id"
            },
            {
              "name": "guardian_name"
            },
            {
              "name": "child_name"
            },
            {
              "name": "appointment_date"
            }
          ]
        }
      },
      "id": "8b850b05-aa43-41aa-94ad-6d01c709f9f9",
      "name": "Payment_Link",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email FROM users WHERE user_id = '{{ $json.unique_id }}'",
        "options": {}
      },
      "id": "17a955b2-1d00-4639-a18b-09eb84ed6cd3",
      "name": "Get_User_Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-link",
              "name": "payment_link",
              "value": "=https://pay.zouti.com.br/checkout?poi=prod%5Foffer%5Fuyb01frku8m3qvq02ym7zi&utm_content={{ $('Payment_Link').item.json.unique_id }}{{ $json.email ? '&email=' + $json.email : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fc1fe033-0bbc-4fcc-85a3-ce4cdaa0d32b",
      "name": "Build_Payment_Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out-link",
              "name": "payment_link",
              "value": "={{ $json.payment_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "07cbe405-d6d4-461d-9272-87c9929a899e",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -96
      ]
    }
  ],
  "connections": {
    "Payment_Link": {
      "main": [
        [
          {
            "node": "Get_User_Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User_Email": {
      "main": [
        [
          {
            "node": "Build_Payment_Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Payment_Link": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Payment_Link": [
      {
        "json": {
          "unique_id": "9-150-219",
          "guardian_name": "Felipe",
          "child_name": "Henrique",
          "appointment_date": "30/03/2026 às 15:20"
        }
      }
    ]
  },
  "versionId": "6eaa8c16-d5bf-44fc-8498-0540e4d2fd16",
  "activeVersionId": "6eaa8c16-d5bf-44fc-8498-0540e4d2fd16",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-18T13:35:27.408Z",
      "createdAt": "2026-05-18T13:35:27.408Z",
      "role": "workflow:owner",
      "workflowId": "wIMMxcUIxGI5lkGn",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-04T12:13:44.075Z",
    "createdAt": "2026-05-18T13:35:29.626Z",
    "versionId": "6eaa8c16-d5bf-44fc-8498-0540e4d2fd16",
    "workflowId": "wIMMxcUIxGI5lkGn",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "unique_id"
              },
              {
                "name": "guardian_name"
              },
              {
                "name": "child_name"
              },
              {
                "name": "appointment_date"
              }
            ]
          }
        },
        "id": "8b850b05-aa43-41aa-94ad-6d01c709f9f9",
        "name": "Payment_Link",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -192,
          -96
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT email FROM users WHERE user_id = '{{ $json.unique_id }}'",
          "options": {}
        },
        "id": "17a955b2-1d00-4639-a18b-09eb84ed6cd3",
        "name": "Get_User_Email",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          48,
          -96
        ],
        "credentials": {
          "postgres": {
            "id": "YeIX3GgiXLm97LoO",
            "name": "DB.NEW-SYSTEM"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "build-link",
                "name": "payment_link",
                "value": "=https://pay.zouti.com.br/checkout?poi=prod%5Foffer%5Fuyb01frku8m3qvq02ym7zi&utm_content={{ $('Payment_Link').item.json.unique_id }}{{ $json.email ? '&email=' + $json.email : '' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "fc1fe033-0bbc-4fcc-85a3-ce4cdaa0d32b",
        "name": "Build_Payment_Link",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          -96
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "out-link",
                "name": "payment_link",
                "value": "={{ $json.payment_link }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "07cbe405-d6d4-461d-9272-87c9929a899e",
        "name": "Output",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          -96
        ]
      }
    ],
    "connections": {
      "Payment_Link": {
        "main": [
          [
            {
              "node": "Get_User_Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_User_Email": {
        "main": [
          [
            {
              "node": "Build_Payment_Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build_Payment_Link": {
        "main": [
          [
            {
              "node": "Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "System AI SIM",
    "name": "Version 6eaa8c16",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    }
  ]
}