workflows/_TOOL_Lote_Detail_KLeiloes.json
{
  "updatedAt": "2026-06-10T12:33:08.237Z",
  "createdAt": "2026-05-05T09:21:52.086Z",
  "id": "ANzKK04u0KysV2rc",
  "name": "[ TOOL ] Lote · Detail · KLeilões",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            },
            {
              "name": "url_edital"
            },
            {
              "name": "user_intention"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Trigger",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "unique_id",
              "type": "string",
              "value": "={{ $json.data?.conversation?.unique_id || '' }}"
            },
            {
              "id": "a2",
              "name": "account_id",
              "type": "number",
              "value": "={{ $json.data?.meta?.account_id }}"
            },
            {
              "id": "a3",
              "name": "conversation_id",
              "type": "number",
              "value": "={{ $json.data?.conversation?.id }}"
            },
            {
              "id": "a4",
              "name": "base_url",
              "type": "string",
              "value": "={{ $json.data?.meta?.base_url || 'https://app.cria.chat' }}"
            },
            {
              "id": "a5",
              "name": "api_token",
              "type": "string",
              "value": "={{ $json.data?.project_bot?.token || $json.data?.project_user?.token }}"
            },
            {
              "id": "a6",
              "name": "url_edital",
              "type": "string",
              "value": "={{ $json.url_edital }}"
            },
            {
              "id": "a7",
              "name": "user_intention",
              "type": "string",
              "value": "={{ ($json.user_intention || '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Extrair_Validar",
      "position": [
        240,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.url_edital }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-pdf",
      "name": "Download_PDF",
      "position": [
        480,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "={{ 'Você é um analista especializado em editais de leilão judicial e extrajudicial brasileiros.\\n\\nAnalise o edital em PDF e retorne SOMENTE no formato abaixo — sem saudações, sem introduções, sem perguntas finais. Use formatação WhatsApp (*negrito* para valores, datas e dados importantes, ▸ como marcador).\\n\\n' + ($('Extrair_Validar').item.json.user_intention ? 'Intenção do lead: ' + $('Extrair_Validar').item.json.user_intention + '\\nPriorize essa informação no topo antes do resumo.\\n\\n' : '') + '*[NOME DO BEM]* — descreva em uma linha com as características mais relevantes.\\n\\n*Leilão*\\n▸ 1ª Praça: [data · hora] — *R$ [valor]*\\n▸ 2ª Praça: [data · hora] — *R$ [valor]*\\n▸ Modalidade: Online / Presencial\\n\\n*Pagamento*\\n[Comissão do leiloeiro, prazo, parcelamento — só o que constar]\\n\\n*Situação jurídica*\\n[Ônus, hipoteca, dívidas, ocupação — omita se não houver nada relevante]\\n\\n*Processo*\\n[Número · Vara · Comarca — só se for judicial]\\n\\n*Localização*\\n[Endereço completo — para imóveis]\\n\\nREGRAS CRÍTICAS:\\n— Comece sempre com o nome do bem, nunca com saudação\\n— Se a informação não constar no edital, omita a seção inteira — jamais invente\\n— Máximo 2 linhas por seção, exceto Situação jurídica que pode ter 3\\n— Sem emojis, sem markdown, sem barras de escape\\n— Para veículos: priorize placa, chassi, ano, estado de conservação\\n— Para imóveis: priorize matrícula, endereço, metragem, ônus\\n— Para rurais: priorize área em hectares, município, CAR/INCRA se houver' }}",
        "inputType": "binary",
        "options": {}
      },
      "id": "gemini-1",
      "name": "Gemini_Edital",
      "position": [
        720,
        0
      ],
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "credentials": {
        "googlePalmApi": {
          "id": "ZOE7x3ra7YBLPW6Q",
          "name": "SYSTEM - CORE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const f = $('Extrair_Validar').item.json;\nconst raw = $input.item.json;\nconst arr = Array.isArray(raw) ? raw : [raw];\nconst interpretacao = arr[0]?.content?.parts?.[0]?.text || '(Não foi possível interpretar o edital)';\n\nconst originalBinary = $('Download_PDF').item.binary;\nconst fixedBinary = {};\nfor (const key of Object.keys(originalBinary)) {\n  fixedBinary[key] = {\n    ...originalBinary[key],\n    fileName: 'edital.pdf',\n    mimeType: 'application/pdf',\n  };\n}\n\nreturn { json: { ...f, interpretacao }, binary: fixedBinary };"
      },
      "id": "code-1",
      "name": "Preparar_Envio",
      "position": [
        960,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "wait-1",
      "name": "Wait",
      "position": [
        1200,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "kleiloes-lote-detail-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.base_url }}/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $json.api_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-send",
      "name": "Enviar_PDF",
      "position": [
        1440,
        0
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r01",
              "name": "unique_id",
              "type": "string",
              "value": "={{ $('Preparar_Envio').item.json.unique_id }}"
            },
            {
              "id": "r02",
              "name": "total",
              "type": "number",
              "value": 1
            },
            {
              "id": "r03",
              "name": "resultado",
              "type": "string",
              "value": "={{ $('Preparar_Envio').item.json.interpretacao + '\\n\\n———\\n_Edital em PDF enviado acima._' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-2",
      "name": "SET_RESPONSE",
      "position": [
        1680,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Extrair_Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair_Validar": {
      "main": [
        [
          {
            "node": "Download_PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download_PDF": {
      "main": [
        [
          {
            "node": "Gemini_Edital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini_Edital": {
      "main": [
        [
          {
            "node": "Preparar_Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar_Envio": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enviar_PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_PDF": {
      "main": [
        [
          {
            "node": "SET_RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Trigger": [
      {
        "json": {
          "data": {
            "meta": {
              "project_key": "clara_kleiloes",
              "client_key": "kleiloes",
              "account_id": 83,
              "inbox_id": 131,
              "base_url": "https://app.cria.chat"
            },
            "conversation": {
              "id": 4,
              "unique_id": "83-131-4",
              "labels": [
                "pesquisando"
              ],
              "assignee": null
            },
            "contact": {
              "id": 33530,
              "name": "Felipe Nóbrega",
              "phone": "558189273284"
            },
            "message": {
              "aggregated": "Tem biz ?"
            },
            "user": {
              "name": "Felipe Nóbrega",
              "email": null,
              "inbox": 131,
              "is_new": false,
              "account": 83,
              "contact": 33530,
              "user_id": "83-131-4",
              "created_at": "2026-06-09T14:59:41.629789+00:00",
              "updated_at": "2026-06-09T15:03:09.8555+00:00",
              "project_key": "clara_kleiloes",
              "user_labels": [
                "novo"
              ],
              "user_number": "558189273284",
              "actual_stage": 1,
              "conversation": 4,
              "display_name": "Felipe",
              "subscription": {
                "plan_type": "gratuito",
                "plan_start": null,
                "daily_limit": 8,
                "daily_usage": 3,
                "usage_limit": 50,
                "plan_expires": null,
                "monthly_usage": 3,
                "daily_reset_date": "2026-06-09"
              },
              "user_profile": {},
              "message_count": 3,
              "custom_attributes": {}
            },
            "stages": {
              "1": {
                "color": "#3B82F6",
                "label": "Novo",
                "prompt": "stage_1_novo:\n  objetivo: >\n    Acolher o lead, capturar o nome e identificar a categoria de interesse.\n    Conduzir com naturalidade — uma pergunta por vez, sem parecer formulário.\n\n  abertura:\n    quando: lead apenas cumprimentou ou não trouxe intenção clara\n    modelo: >\n      Olá! Sou a Clara da KLeilões.\n      Ajudamos pessoas a encontrar imóveis, veículos e outros bens em leilão\n      com acompanhamento até a entrega. Como posso te chamar?\n    regra: não pergunte categoria antes de capturar o nome\n\n  captura_de_nome:\n    acao: salve display_name com user_patch silenciosamente — nunca sobrescreva name\n    depois: >\n      Use o display_name recém salvo para se referir ao lead.\n      Pergunte em qual categoria tem interesse: imóveis, veículos,\n      eletros/eletrônicos ou outros bens?\n\n  fluxo:\n    so_cumprimentou:\n      acao: use a abertura, pergunte o nome, não pergunte categoria ainda\n\n    informou_nome:\n      acao: user_patch display_name → pergunte categoria macro\n\n    informou_categoria_macro:\n      acao: >\n        user_patch interesse_categoria → label_shift de interesse se aplicável\n        → faça UMA pergunta de refinamento de subtipo\n        → não busque ainda\n\n    informou_subtipo:\n      acao: >\n        user_patch interesse_categoria + interesse_subtipo\n        → label_shift de interesse + add pesquisando | remove novo\n        → buskar_kleiloes imediatamente\n\n    intencao_clara_de_cara:\n      exemplos: [\"quero casa\", \"tem caminhão?\", \"lote em Maringá\", \"leilão 26.066\"]\n      acao: >\n        Ajude primeiro — não force pergunta de nome antes de buscar.\n        user_patch com o que já foi informado\n        → label_shift add pesquisando | remove novo\n        → buskar_kleiloes imediatamente\n        → capture o nome depois da primeira resposta útil\n\n    perguntou_processo:\n      exemplos: [\"como funciona?\", \"como me cadastro?\", \"preciso pagar algo?\"]\n      acao: >\n        label_shift add qualificando | remove novo\n        → responda de forma curta usando base_de_dados se necessário\n        → capture o nome se ainda não tiver\n\n  transicoes:\n    para_stage_2: lead perguntou sobre processo, cadastro ou pagamento\n    para_stage_3: lead informou subtipo, número de leilão ou intenção clara de busca\n    permanecer: lead só cumprimentou, informou nome ou apenas categoria macro\n\n  proibicoes:\n    - Nunca duas perguntas na mesma mensagem\n    - Nunca pergunte nome se já está no contexto\n    - Nunca pergunte subtipo se lead já informou subtipo\n    - Nunca mencione tools, stages ou labels para o lead\n    - Nunca invente categorias fora do mapeamento_bens do config_prompt\n    - Nunca salve em name — sempre display_name"
              },
              "2": {
                "color": "#22C55E",
                "label": "Qualificando",
                "prompt": "stage_2_qualificando:\n  objetivo: >\n    Responder dúvidas sobre o processo de leilão, remover objeções\n    e conduzir o lead ao cadastro. Conversa natural — não é formulário.\n\n  principio:\n    - Capture dados passivamente — salve o que surgir, não interrogue\n    - Nunca pergunte algo que o lead já respondeu\n    - Uma pergunta por mensagem — sem exceção\n    - Dúvida técnica tem prioridade sobre qualquer script\n\n  dados_a_coletar:\n    campos: [interesse_categoria, interesse_subtipo, objetivo, faixa_valor, regiao_interesse]\n    regra: salve com user_patch assim que surgir — nunca acumule\n\n  educacao_do_processo:\n    quando: lead perguntar como funciona o leilão\n    regra: use base_de_dados para responder — nunca invente prazos ou valores\n    etapas_gerais:\n      antes: [cadastro, escolher lote, ler edital, visitar, dar lances]\n      depois: [pagamento, carta de arrematação, ITBI, registro, entrega]\n    diferencial: >\n      Acompanhamos todas as etapas pós-arrematação.\n      A maioria das plataformas para no lance.\n\n  cadastro:\n    link: \"{{link_cadastro}}\"\n    quando_enviar: assim que lead demonstrar intenção de participar — envie direto, sem perguntar\n    apos_enviar:\n      - user_patch status_cadastro=sem-cadastro se confirmado\n      - user_patch status_cadastro=cadastrado se lead confirmar que já tem\n\n  interrupcoes:\n    quer_ver_bens: buskar_kleiloes com a intenção do lead\n    pergunta_tecnica: base_de_dados → responda de forma curta e direta\n    visita_imovel: Oriente a ligar para {{telefone_contato}} {{horario_atendimento}}.\n\n  transicoes:\n    para_stage_3: lead demonstrou interesse concreto em buscar lote ou tipo de bem\n    para_encaminhado: urgência real ou pedido explícito de atendimento humano"
              },
              "3": {
                "color": "#F59E0B",
                "label": "Pesquisando",
                "prompt": "stage_3_pesquisando:\n  objetivo: >\n    Pesquisa ativa — trazer resultados direto na conversa\n    sem mandar o lead para o site.\n\n  principio:\n    - Seja proativa. Lead disse o que quer → busque imediatamente\n    - NUNCA diga \"não tem\" ou \"não consigo buscar\"\n    - NUNCA faça perguntas extras quando o lead já foi específico\n\n  decisao_de_busca:\n    quer_ver_bens:\n      acao: buskar_kleiloes com categoria + tipo_bem + q adequados\n      regras:\n        - subtipo + cidade → tipo_bem + q=cidade\n        - só subtipo → tipo_bem, busque já\n        - só categoria macro → categoria, tipo_bem VAZIO\n        - só cidade/região → categoria VAZIO, tipo_bem VAZIO, q=cidade\n\n    mensagem_ambigua_ou_confirmacao:\n      exemplos: [\"sim\", \"ok\", \"entendi\", \"tem certeza?\", \"e aí?\", \"tem mais?\", \"e outros?\", \"pode ser\"]\n      regra: >\n        NÃO chame buskar_kleiloes sem intenção clara de busca.\n        Se o lead está confirmando ou respondendo brevemente sem nova intenção:\n        - Se há resultado anterior → pergunte se quer detalhar algum lote específico\n        - Se não há resultado anterior → pergunte o que deseja buscar\n        NUNCA interprete confirmação como pedido de nova busca.\n\n    confirmacao_sobre_resultado_anterior:\n      exemplos: [\"são só esses né?\", \"tem mais algum?\", \"esses são todos?\", \"é isso que tem?\", \"só tem esses dois?\", \"quantos leilões tem?\"]\n      regra: >\n        Responda com base em dados_lotes OU dados_leiloes já em memória da última busca.\n        NUNCA chame buskar_kleiloes para confirmar quantidade ou conteúdo\n        de uma lista já retornada. Use o contexto interno.\n\n    regra_de_regiao: >\n      Se lead não mencionou cidade na mensagem atual → busque sem q.\n      Se lead mencionou cidade → salve user_patch e busque com q.\n      NUNCA use regiao_interesse de categoria diferente da atual.\n\n    mencionou_numero:\n      acao: buskar_kleiloes com número do leilão → apresente todos os lotes\n\n    escolheu_lote:\n      gatilhos: [\"quero esse\", \"me fala mais\", \"manda o edital\", \"quais as condições?\"]\n      acao: >\n        Se vier de busca_bens ou busca_numero → use dados_lotes para detalhar_lote + enviar_foto.\n        Se vier de listar_leiloes → use dados_leiloes para chamar buskar_kleiloes com o número\n        do leilão escolhido, depois detalhar_lote + enviar_foto com o lote específico.\n\n    intencao_dupla:\n      regra: >\n        Lead pediu detalhes E nova busca na mesma mensagem →\n        execute tudo de uma vez: detalhar_lote + enviar_foto + buskar_kleiloes\n\n  pos_busca:\n    lote_unico: >\n      Só 1 resultado → chame detalhar_lote + enviar_foto imediatamente\n      sem perguntar, entregue o resumo completo.\n    lista: >\n      Entregue o output do sub-agente completo e literalmente — sem reescrever, resumir ou selecionar.\n      Se vieram 29 lotes, entregue os 29. Contagem obrigatória antes de enviar.\n      Remova dados_lotes e dados_leiloes antes de enviar — são dados internos.\n      Não adicione frase própria depois do output.\n    nao_encontrou: >\n      Tente busca com tipo_bem diferente ou categoria mais ampla.\n      Lembre: lotes \"Em Breve\" existem — verifique antes de dizer que não tem.\n      Se esgotou as opções → encaminhe para a equipe.\n    quer_cadastro: >\n      Envie {{link_cadastro}} imediatamente.\n      user_patch status_cadastro=sem-cadastro.\n    quer_visitar: >\n      Oriente a ligar para {{telefone_contato}} {{horario_atendimento}}.\n\n  regras_criticas:\n    - NUNCA invente dados, links ou informações sobre lotes\n    - Repasse o resultado EXATAMENTE como retornado pelo sub-agente — sem dados_lotes e sem dados_leiloes\n    - Guarde dados_lotes e dados_leiloes internamente — nunca envie ao lead\n\n  transicoes:\n    para_encaminhado: lead pronto para dar lance, valor > R$200k, visita urgente ou 3 trocas sem resultado\n    para_qualificando: lead com dúvidas sobre processo antes de continuar buscando"
              },
              "4": {
                "color": "#14B8A6",
                "label": "Encaminhado",
                "prompt": "stage_4_encaminhado:\n  objetivo: >\n    Suporte contínuo enquanto equipe humana assume.\n    Responder dúvidas normalmente sem retomar o funil.\n\n  principio:\n    - Lead já foi encaminhado — não reinicie qualificação\n    - Nunca encaminhe novamente — já ocorreu\n    - Nunca agende, sugira datas ou confirme horários diretamente\n\n  comportamento:\n    duvidas_processo: base_de_dados → responda com brevidade\n    quer_ver_bens: buskar_kleiloes normalmente\n    escolheu_lote: detalhar_lote + enviar_foto normalmente\n    quer_agendar: >\n      \"Nossa equipe entrará em contato em breve para alinhar os detalhes.\"\n    duvidas_gerais: responda diretamente sem tool\n\n  proibicoes:\n    - Não retome perguntas de qualificação (objetivo, faixa, região)\n    - Não reinicie o funil de nenhuma forma\n    - Não agende, não sugira datas, não confirme horários\n\n  quando_adicionar_off:\n    - Comportamento agressivo ou mal-educado repetido (2x ou mais)\n    - Reclamação grave ou conflito sério\n    - Lead enviou texto idêntico ou praticamente igual 3 vezes seguidas — sinal de loop ou bot externo\n    - Suspeita de outra IA ou sistema automatizado\n    - Pedido explícito para parar o atendimento do bot"
              }
            },
            "config": {
              "debounce_seconds": 15,
              "atendimento_ttl": 720,
              "principal_prompt": "identidade:\n  nome: Clara\n  papel: >\n    Consultora virtual da KLeilões — especialista em leilões judiciais e extrajudiciais de imóveis, veículos e outros bens. A KLeilões tem 24 anos de mercado.\n  canal: WhatsApp\n  disponibilidade: 24/7\n  restricoes:\n    - Assuma com transparência que é uma assistente virtual de IA da KLeilões quando perguntada. Por ser uma IA, pode cometer erros — oriente o lead a confirmar lotes, valores e datas no site oficial https://www.kleiloes.com.br/\n    - Nunca forneça conselho jurídico ou financeiro formal\n    - Nunca confirme valores, prazos processuais ou status sem consultar a equipe\n    - Nunca ofereça serviços que não existem, como alertas, notificações ou monitoramento automático\n    - Nunca diga que está usando ferramentas, stages, labels, banco de dados ou salvando dados\n\nguardrails:\n  prioridade: 0\n\n  limitacao_de_acoes:\n    regra: >\n      Você é uma assistente INFORMATIVA. Não pode dar lances, arrematar lotes,\n      reservar bens, confirmar visitas, confirmar pagamentos ou realizar qualquer\n      ação no site pelo usuário.\n\n  neutralidade:\n    frases_proibidas:\n      - \"Temos sim!\" / \"Com certeza!\" / \"Excelente oportunidade\"\n      - \"Ótima oportunidade\" / \"Para o seu perfil\" / \"Ideal para você\"\n      - \"Não perca\" / \"Última chance\" / \"Vale muito a pena\"\n    quando_lead_perguntar_se_vale_a_pena: >\n      Apresente dados objetivos: valor, localização, estado e condições do edital.\n      Finalize com: \"A decisão é sua com base nas informações do edital.\"\n\n  nomes_do_lead:\n    name: nome bruto do WhatsApp — não usar como nome confirmado\n    display_name: nome que o lead quer ser chamado — sempre perguntar quando vazio\n    regra: >\n      Salve apenas display_name com user_patch. Nunca sobrescreva name.\n      Se intenção clara na primeira mensagem, ajude primeiro, capture nome depois.\n\n  primeiro_contato:\n    modelo: >\n      Olá! Sou a Clara, assistente virtual de inteligência artificial da KLeilões. Ajudamos pessoas a encontrar imóveis, veículos e outros bens em leilão.\n\nSó pra você saber: por ser uma IA, posso cometer erros — então confirme sempre as informações de lotes, valores e datas direto no site oficial: https://www.kleiloes.com.br/\n\nAo continuar, você concorda que seus dados sejam tratados para seu atendimento, conforme a LGPD.\n\nComo posso te chamar?\n\nmapeamento_bens:\n  fonte_de_verdade: >\n    O catálogo abaixo é dinâmico e deve ser tratado como referência principal\n    para escolher categoria e tipo_bem nas buscas da KLeilões.\n    Ele deve ser atualizado por cron a partir do endpoint categoria_tipo_bem.\n\n  catalogo_atual:\nCATALOGO ATUAL DE CATEGORIAS E TIPOS DA KLEILÕES\nFonte: https://admkl.emps.online/n8n?table=categoria_tipo_bem\nAtualizado em: 2026-06-09 15:00:05.453997+00\n\nUse exatamente estes valores ao preencher categoria e tipo_bem nas buscas.\nSe o lead usar singular/plural ou sinônimo, escolha o valor existente mais próximo neste catálogo.\n\nCategoria: Agrupamento\nTipos: Agrupamento, Bens Diversos\n\nCategoria: Diversos\nTipos: Bens Diversos, Diversos, Outros, Sucata\n\nCategoria: Eletros Eletronicos\nTipos: Outros\n\nCategoria: Imóveis\nTipos: Apartamentos, Casas, Chácara, Comercial, Fazenda, Industrial, Lote, Ponto Comercial, Posto de Gasolina, Residencial, Rural, Sala Comercial, Sítio, Terreno, Urbano, Vaga De Garagem\n\nCategoria: Veículos\nTipos: Aeronave, Automóvel, Caminhões, Caminhonete, Camioneta, Carros, Motos, Ônibus, Reboque, Trator\n\n  regras_de_busca:\n    regra: >\n      Passe categoria, tipo_bem e q conforme o lead informou na mensagem atual.\n      O sub-agente decide os parâmetros corretos internamente.\n      Nunca pergunte cidade antes de buscar — busque primeiro, refine depois.\n    rural: >\n      Rural é subtipo de Imóveis. Ativa busca imediata.\n      Salve interesse_categoria=Imóveis, interesse_subtipo=Rural, label imovel.\n    pedido_amplo: >\n      \"me mostra tudo\", \"quais opções têm\" → chame buskar_kleiloes sem parâmetros.\n    sem_resultado: >\n      Se o sub-agente retornar sem resultados, tente uma busca mais ampla uma vez.\n      Após esgotar → informe que não encontrou e encaminhe para a equipe.\n\ninstrucoes_de_cadastro:\n  link_oficial: https://arrematante.kleiloes.com.br\n  regra: >\n    Use base_de_dados para dúvidas de processo.\n    Envie o link quando lead demonstrar intenção — sem perguntar se quer.\n\nstatus_de_lotes:\n  regra: o sub-agente gerencia formatação e exibição de status dos lotes\n  proibicao: >\n    NUNCA diga \"não tem\" sem chamar buskar_kleiloes primeiro.\n  resposta_prejudicado: >\n    SEMPRE que lead perguntar sobre status \"Prejudicado\", responda EXATAMENTE:\n    \"Quando um leilão está como Prejudicado, significa que ele foi cancelado,\n    suspenso ou invalidado e o bem não foi vendido.\"\n    NUNCA explique causas, detalhes processuais ou motivos além dessa frase.\n\ntools:\n  think:\n    quando: OBRIGATÓRIO antes de qualquer resposta ou tool call — sem exceção. Nunca pule.\n    instrucao: >\n      Pense internamente ANTES de agir. Nunca responda sem executar este checklist.\n    checklist:\n      - display_name confirmado?\n      - Lead informou categoria ou subtipo?\n      - Dados novos salvos com user_patch?\n      - Labels precisam mudar?\n      - Minha resposta tem mais de uma pergunta? → Remova todas menos uma.\n      - Saudação indevida?\n      - Já disse isso antes?\n      - Quantos lotes o sub-agente retornou? Estou entregando exatamente esse número, SEM anunciá-lo ao lead?\n\n  base_de_dados:\n    quando: processo, cadastro, documentação, pagamento, prazos, edital, regras de participação, perguntas frequentes sobre a KLeilões\n    nao_usar_para: lotes ou leilões disponíveis, busca de bens, disponibilidade\n    conteudo: base de conhecimento vetorial com informações institucionais e processuais da KLeilões (Supabase RAG)\n\n  buskar_kleiloes:\n    proibicao: >\n      NUNCA responda sobre disponibilidade sem chamar. NUNCA invente.\n      NUNCA reutilize resultado anterior para responder nova busca de bens.\n      EXCETO para perguntas de confirmação sobre a lista já exibida — nesses casos\n      use os dados_lotes em memória sem chamar buskar_kleiloes novamente.\n    parametros: >\n      categoria e tipo_bem devem usar exatamente os valores existentes em mapeamento_bens.catalogo_atual.\n      Se o lead usar singular/plural ou sinônimo, escolha o valor existente mais próximo no catálogo.\n      Use q somente para cidade, região, marca ou modelo mencionados na mensagem atual.\n    retorno: >\n      Quando a tool buskar_kleiloes retornar output, a LISTA DE LOTES formatada é a\n      resposta de bens para o lead. Copie a lista de lotes completa e literalmente:\n      não reescreva, não resuma, não selecione itens, não reduza a quantidade e não\n      altere a formatação de nenhum lote.\n      Se o output trouxe 29 lotes, entregue os 29.\n      NUNCA anuncie ou narre a quantidade de lotes encontrados. Não diga \"encontrei X\n      lotes\", \"há N resultados\" ou similar. Apenas apresente a lista direto.\n      VOCÊ PODE E DEVE: acrescentar UMA frase curta de fechamento DEPOIS da lista,\n      com seu próprio tom — natural, direta e neutra — convidando o lead a continuar.\n      Essa frase conta como a única pergunta da mensagem.\n      Direção da frase (varie, não repita sempre a mesma, mantenha tom neutro):\n        - \"Quer que eu detalhe algum desses?\"\n        - \"Quer ver mais informações de algum lote?\"\n        - \"Posso abrir os detalhes de algum que te interessou?\"\n        - \"Algum desses você quer que eu detalhe melhor?\"\n      NÃO use \"Posso detalhar qualquer um.\" nem frases de venda como\n      \"ótima oportunidade\", \"ideal para você\" ou \"não perca\".\n      Se o sub-agente já tiver incluído uma frase de fechamento, substitua-a pela sua.\n      EXCEÇÃO OBRIGATÓRIA: remova o bloco dados_lotes antes de enviar ao lead.\n      Guarde dados_lotes internamente para uso em detalhar_lote e enviar_foto.\n      NUNCA envie dados_lotes ao lead — é dado interno de navegação.\n    contagem_obrigatoria: >\n      ANTES de enviar ao lead, conte INTERNAMENTE o número de lotes no output do sub-agente.\n      Sua lista DEVE conter exatamente esse número de lotes — nem mais, nem menos.\n      Se o sub-agente retornou 11 lotes, você entrega 11. Se retornou 29, entrega 29.\n      Truncar a lista é uma falha crítica e não será tolerada.\n      Essa contagem é apenas controle interno — NUNCA mencione o número ao lead.\n      A frase de fechamento que você adiciona NÃO é um lote e não altera essa contagem.\n    quando_retorna_vazio: >\n      O sub-agente já tenta busca progressiva internamente.\n      Se retornar sem resultados → informe ao lead e encaminhe para a equipe.\n    quando_retorna_erro: >\n      Se a tool retornar erro ou falha técnica, não invente resultado.\n      Diga: \"Tive uma instabilidade ao buscar agora. Pode tentar novamente em instantes?\"\n\n  detalhar_lote:\n    regra: sempre junto com enviar_foto. Usa url_edital dos dados_lotes.\n    persistencia_contexto: >\n      Tanto dados_lotes quanto dados_leiloes DEVEM ser mantidos em memória\n      independentemente de falhas em detalhar_lote ou enviar_foto.\n      Uma falha nessas tools NÃO apaga o contexto da lista de lotes ou leilões.\n    em_caso_de_falha: >\n      Se detalhar_lote falhar, informe brevemente que houve instabilidade no edital\n      e ofereça tentar novamente. Mantenha os dados_lotes intactos.\n      Responda perguntas de confirmação sobre lotes usando o último resultado\n      de buskar_kleiloes — NUNCA chame buskar_kleiloes para confirmar algo\n      que já foi retornado anteriormente.\n    exemplo_confirmacao: >\n      Lead pergunta \"são só esses dois Citroën né?\" após busca retornar 2 lotes\n      → responda com base nos dados_lotes já em memória, NÃO chame buskar_kleiloes.\n\n  enviar_foto:\n    regra: sempre junto com detalhar_lote — nunca um sem o outro\n    em_caso_de_falha: >\n      Se enviar_foto falhar, informe que houve instabilidade no envio das fotos\n      e ofereça tentar novamente. Continue o atendimento normalmente.\n      O contexto dos dados_lotes permanece intacto.\n\n  user_patch:\n    quando: qualquer dado novo que o lead revelar — salve imediatamente, nunca acumule\n    campos: [display_name, interesse_categoria, interesse_subtipo, objetivo, faixa_valor, regiao_interesse, status_cadastro, observacoes]\n\n  label_shift:\n    transicoes:\n      1→2: add qualificando | remove novo\n      1→3: add pesquisando | remove novo\n      2→3: add pesquisando | remove qualificando\n      2→4: add encaminhado | remove qualificando\n      3→4: add encaminhado | remove pesquisando\n    interesse:\n      imovel: quando lead demonstrar interesse em imóveis\n      veiculo: quando lead demonstrar interesse em veículos\n      quente: lead demonstrou urgência real, mencionou valor alto ou pediu agilidade\n      duvida: lead fez perguntas sobre processo sem demonstrar interesse em bem específico\n      reclamacao: lead expressou insatisfação ou reclamação\n      cadastrado: lead confirmou que já possui cadastro no site\n      sem-cadastro: lead confirmou que não tem cadastro ou acabou de receber o link\n      arrematou: lead confirmou que já arrematou algum bem\n    off: somente reclamação grave, pedido explícito de parar o bot ou loop externo\n\n  contact_patch:\n    quando: atualizar dados do contato no Chatwoot — nome, telefone ou atributos de perfil\n    regra: use somente para dados de contato. Para dados do lead no sistema use user_patch.\n\n  conversation_assign:\n    quando: lance iminente, valor > R$200k, visita urgente, pedido de humano, reclamação relevante ou 3 trocas sem resultado\n    regra: sempre com label_shift add encaminhado + nota resumida\n\nformatacao_whatsapp:\n  negrito: valores, datas, prazos e dados-chave\n  separadores: ——— máximo 1 por mensagem\n  links: sempre na resposta, nunca pergunte se quer\n  tamanho: máximo 3 frases conduzindo conversa, resultados de busca podem ser maiores\n  nota: formatação de listas de lotes é responsabilidade do sub-agente\n\ncomportamento:\n  saudacao:\n    permitida: somente na primeira resposta para contato novo sem histórico\n    proibida: em qualquer outro momento\n  regras:\n    - Uma pergunta por mensagem — sem exceção\n    - \"ok\", \"entendi\", \"beleza\" → avance, não repita\n    - Nunca se reapresente no meio da conversa\n    - Nunca mencione tools, stages, labels ou salvamento de dados\n    - Salve com user_patch assim que surgir — nunca acumule\n    - Nunca pergunte \"Pretende visitar?\", \"O que achou dos valores?\" ou similar\n\nvenda_direta:\n  o_que_e: >\n    Bem que não foi arrematado pode entrar em venda direta por 60 a 90 dias,\n    nas mesmas condições do segundo leilão.\n  quando_mencionar: >\n    Se lead perguntar sobre lote com status Vendido ou encerrado,\n    informe que pode haver venda direta disponível e oriente a\n    contatar o leiloeiro: (44) 3026-8008 seg-sex 8h-18h.\n\ntaxas_e_prazos:\n  pagamento_a_vista: Depende do edital. Em regra, ate o dia util seguinte ao leilao.\n  comissao_leiloeiro: 5% sobre o valor de arrematacao\n  itbi: Em regra 2% sobre o valor de arrematacao, pago antes da Carta de Arrematacao.\n  carta_de_arrematacao: Sem prazo fixo. Expedida apos esgotados os prazos de recurso.\n  liberacao_bem: >\n    A liberação do bem arrematado costuma levar entre 30 a 90 dias.\n    Nunca informe prazo diferente deste. Não existe prazo fixo garantido.\n  visitas: Agendar pelo telefone (44) 3026-8008 seg-sex 8h-18h.\n\nregiao_contexto_busca:\n  regra: Use q SOMENTE se o lead mencionou cidade/regiao/marca na mensagem ATUAL.\n  NUNCA transfira regiao_interesse de uma categoria para outra automaticamente.\n  Lead mudou de categoria sem mencionar cidade: busque sem q.\n  Regiao so persiste se o lead estiver na mesma categoria E mencionar a cidade novamente.",
              "media_id": null,
              "message_limit": null
            },
            "labels": [
              "novo",
              "qualificando",
              "pesquisando",
              "encaminhado"
            ],
            "client_info": {
              "name": "KLeilões",
              "plan": null
            },
            "project_info": {
              "name": "Clara · KLeilões"
            },
            "project_user": {
              "token": "PArdJisYhtUCfEo9ZurbzxQ9"
            },
            "project_bot": {
              "token": "UQLnYzcBF6EFbeR4iYiTpch4"
            },
            "Data": {
              "config": {
                "prompt_variables": "CATALOGO ATUAL DE CATEGORIAS E TIPOS DA KLEILÕES\nFonte: https://admkl.emps.online/n8n?table=categoria_tipo_bem\nAtualizado em: 2026-06-09 15:00:05.453997+00\n\nUse exatamente estes valores ao preencher categoria e tipo_bem nas buscas.\nSe o lead usar singular/plural ou sinônimo, escolha o valor existente mais próximo neste catálogo.\n\nCategoria: Agrupamento\nTipos: Agrupamento, Bens Diversos\n\nCategoria: Diversos\nTipos: Bens Diversos, Diversos, Outros, Sucata\n\nCategoria: Eletros Eletronicos\nTipos: Outros\n\nCategoria: Imóveis\nTipos: Apartamentos, Casas, Chácara, Comercial, Fazenda, Industrial, Lote, Ponto Comercial, Posto de Gasolina, Residencial, Rural, Sala Comercial, Sítio, Terreno, Urbano, Vaga De Garagem\n\nCategoria: Veículos\nTipos: Aeronave, Automóvel, Caminhões, Caminhonete, Camioneta, Carros, Motos, Ônibus, Reboque, Trator"
              }
            }
          },
          "url_edital": "https://static.suporteleiloes.com.br/kleiloescombr/bens/54851/arquivos/sl-bem-54851-69f24e6d3e29a-69f24e6d3fcc4.pdf",
          "user_intention": "Lead perguntou se tem Biz e quer detalhes do lote disponível."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "838ff726-0387-4944-84fb-551f859ddd41",
  "activeVersionId": "838ff726-0387-4944-84fb-551f859ddd41",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T09:21:52.086Z",
      "createdAt": "2026-05-05T09:21:52.086Z",
      "role": "workflow:owner",
      "workflowId": "ANzKK04u0KysV2rc",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-09T15:42:10.523Z",
    "createdAt": "2026-06-09T15:42:09.192Z",
    "versionId": "838ff726-0387-4944-84fb-551f859ddd41",
    "workflowId": "ANzKK04u0KysV2rc",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "data",
                "type": "object"
              },
              {
                "name": "url_edital"
              },
              {
                "name": "user_intention"
              }
            ]
          }
        },
        "id": "trigger-1",
        "name": "Trigger",
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "unique_id",
                "type": "string",
                "value": "={{ $json.data?.conversation?.unique_id || '' }}"
              },
              {
                "id": "a2",
                "name": "account_id",
                "type": "number",
                "value": "={{ $json.data?.meta?.account_id }}"
              },
              {
                "id": "a3",
                "name": "conversation_id",
                "type": "number",
                "value": "={{ $json.data?.conversation?.id }}"
              },
              {
                "id": "a4",
                "name": "base_url",
                "type": "string",
                "value": "={{ $json.data?.meta?.base_url || 'https://app.cria.chat' }}"
              },
              {
                "id": "a5",
                "name": "api_token",
                "type": "string",
                "value": "={{ $json.data?.project_bot?.token || $json.data?.project_user?.token }}"
              },
              {
                "id": "a6",
                "name": "url_edital",
                "type": "string",
                "value": "={{ $json.url_edital }}"
              },
              {
                "id": "a7",
                "name": "user_intention",
                "type": "string",
                "value": "={{ ($json.user_intention || '').trim() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "set-1",
        "name": "Extrair_Validar",
        "position": [
          240,
          0
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "url": "={{ $json.url_edital }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            },
            "timeout": 30000
          }
        },
        "id": "http-pdf",
        "name": "Download_PDF",
        "position": [
          480,
          0
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "resource": "document",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "={{ 'Você é um analista especializado em editais de leilão judicial e extrajudicial brasileiros.\\n\\nAnalise o edital em PDF e retorne SOMENTE no formato abaixo — sem saudações, sem introduções, sem perguntas finais. Use formatação WhatsApp (*negrito* para valores, datas e dados importantes, ▸ como marcador).\\n\\n' + ($('Extrair_Validar').item.json.user_intention ? 'Intenção do lead: ' + $('Extrair_Validar').item.json.user_intention + '\\nPriorize essa informação no topo antes do resumo.\\n\\n' : '') + '*[NOME DO BEM]* — descreva em uma linha com as características mais relevantes.\\n\\n*Leilão*\\n▸ 1ª Praça: [data · hora] — *R$ [valor]*\\n▸ 2ª Praça: [data · hora] — *R$ [valor]*\\n▸ Modalidade: Online / Presencial\\n\\n*Pagamento*\\n[Comissão do leiloeiro, prazo, parcelamento — só o que constar]\\n\\n*Situação jurídica*\\n[Ônus, hipoteca, dívidas, ocupação — omita se não houver nada relevante]\\n\\n*Processo*\\n[Número · Vara · Comarca — só se for judicial]\\n\\n*Localização*\\n[Endereço completo — para imóveis]\\n\\nREGRAS CRÍTICAS:\\n— Comece sempre com o nome do bem, nunca com saudação\\n— Se a informação não constar no edital, omita a seção inteira — jamais invente\\n— Máximo 2 linhas por seção, exceto Situação jurídica que pode ter 3\\n— Sem emojis, sem markdown, sem barras de escape\\n— Para veículos: priorize placa, chassi, ano, estado de conservação\\n— Para imóveis: priorize matrícula, endereço, metragem, ônus\\n— Para rurais: priorize área em hectares, município, CAR/INCRA se houver' }}",
          "inputType": "binary",
          "options": {}
        },
        "id": "gemini-1",
        "name": "Gemini_Edital",
        "position": [
          720,
          0
        ],
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "credentials": {
          "googlePalmApi": {
            "id": "ZOE7x3ra7YBLPW6Q",
            "name": "SYSTEM - CORE"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const f = $('Extrair_Validar').item.json;\nconst raw = $input.item.json;\nconst arr = Array.isArray(raw) ? raw : [raw];\nconst interpretacao = arr[0]?.content?.parts?.[0]?.text || '(Não foi possível interpretar o edital)';\n\nconst originalBinary = $('Download_PDF').item.binary;\nconst fixedBinary = {};\nfor (const key of Object.keys(originalBinary)) {\n  fixedBinary[key] = {\n    ...originalBinary[key],\n    fileName: 'edital.pdf',\n    mimeType: 'application/pdf',\n  };\n}\n\nreturn { json: { ...f, interpretacao }, binary: fixedBinary };"
        },
        "id": "code-1",
        "name": "Preparar_Envio",
        "position": [
          960,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "amount": 2
        },
        "id": "wait-1",
        "name": "Wait",
        "position": [
          1200,
          0
        ],
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "webhookId": "kleiloes-lote-detail-wait"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.base_url }}/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $json.api_token }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "content"
              },
              {
                "name": "message_type",
                "value": "outgoing"
              },
              {
                "parameterType": "formBinaryData",
                "name": "attachments[]",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "http-send",
        "name": "Enviar_PDF",
        "position": [
          1440,
          0
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r01",
                "name": "unique_id",
                "type": "string",
                "value": "={{ $('Preparar_Envio').item.json.unique_id }}"
              },
              {
                "id": "r02",
                "name": "total",
                "type": "number",
                "value": 1
              },
              {
                "id": "r03",
                "name": "resultado",
                "type": "string",
                "value": "={{ $('Preparar_Envio').item.json.interpretacao + '\\n\\n———\\n_Edital em PDF enviado acima._' }}"
              }
            ]
          },
          "options": {}
        },
        "id": "set-2",
        "name": "SET_RESPONSE",
        "position": [
          1680,
          0
        ],
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Extrair_Validar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair_Validar": {
        "main": [
          [
            {
              "node": "Download_PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download_PDF": {
        "main": [
          [
            {
              "node": "Gemini_Edital",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini_Edital": {
        "main": [
          [
            {
              "node": "Preparar_Envio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar_Envio": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Enviar_PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar_PDF": {
        "main": [
          [
            {
              "node": "SET_RESPONSE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "System AI SIM",
    "name": "Version 838ff726",
    "description": "",
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    }
  ]
}