workflows/_TOOL_User_Patch.json
{
  "updatedAt": "2026-06-11T02:56:54.710Z",
  "createdAt": "2026-05-01T04:16:51.080Z",
  "id": "zMsMhISi9aERdVcf",
  "name": "[ TOOL ] User · Patch",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "unique_id"
            },
            {
              "name": "data"
            }
          ]
        }
      },
      "id": "fd5a645e-6a6e-41ff-b3d5-ec887660c5c7",
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        640,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT patch_user($1, $2::jsonb)",
        "options": {
          "queryReplacement": "={{ $json.unique_id }}, {{ $json.data }}"
        }
      },
      "id": "0b53673b-d481-4505-8055-3dc2b1290918",
      "name": "PATCH_USER",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r01",
              "name": "resultado",
              "type": "string",
              "value": "=dados salvos: {{ $('Trigger').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e879584-e90e-421d-9194-06c8db2c2bb9",
      "name": "SET_RESPONSE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        688
      ]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "PATCH_USER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH_USER": {
      "main": [
        [
          {
            "node": "SET_RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "TaLOAW8gj0JIGTwW",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Trigger": [
      {
        "json": {
          "unique_id": "83-131-4",
          "data": "{\"display_name\": \"Felipe\"}"
        }
      }
    ]
  },
  "versionId": "565e66d7-7dbe-4e55-8c7d-ff0929fbb899",
  "activeVersionId": "565e66d7-7dbe-4e55-8c7d-ff0929fbb899",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-01T04:16:51.080Z",
      "createdAt": "2026-05-01T04:16:51.080Z",
      "role": "workflow:owner",
      "workflowId": "zMsMhISi9aERdVcf",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-11T02:57:06.438Z",
    "createdAt": "2026-06-11T02:56:54.712Z",
    "versionId": "565e66d7-7dbe-4e55-8c7d-ff0929fbb899",
    "workflowId": "zMsMhISi9aERdVcf",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "unique_id"
              },
              {
                "name": "data"
              }
            ]
          }
        },
        "id": "fd5a645e-6a6e-41ff-b3d5-ec887660c5c7",
        "name": "Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          640,
          688
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT patch_user($1, $2::jsonb)",
          "options": {
            "queryReplacement": "={{ $json.unique_id }}, {{ $json.data }}"
          }
        },
        "id": "0b53673b-d481-4505-8055-3dc2b1290918",
        "name": "PATCH_USER",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          864,
          688
        ],
        "credentials": {
          "postgres": {
            "id": "YeIX3GgiXLm97LoO",
            "name": "DB.NEW-SYSTEM"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r01",
                "name": "resultado",
                "type": "string",
                "value": "=dados salvos: {{ $('Trigger').item.json.data }}"
              }
            ]
          },
          "options": {}
        },
        "id": "6e879584-e90e-421d-9194-06c8db2c2bb9",
        "name": "SET_RESPONSE",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1088,
          688
        ]
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "PATCH_USER",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PATCH_USER": {
        "main": [
          [
            {
              "node": "SET_RESPONSE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "System AI SIM",
    "name": "Version 565e66d7",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    },
    {
      "updatedAt": "2025-12-09T19:47:18.101Z",
      "createdAt": "2025-12-09T19:47:18.101Z",
      "id": "w9RugkEeasnJt107",
      "name": "SYSTEM"
    }
  ]
}