workflows/_TOOL_Conversation_Assign.json
{
  "updatedAt": "2026-06-11T03:00:15.310Z",
  "createdAt": "2026-05-01T04:50:58.854Z",
  "id": "tsGH3L6FaXe3xo6d",
  "name": "[ TOOL ] Conversation · Assign",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "unique_id"
            },
            {
              "name": "assignee_id"
            },
            {
              "name": "note"
            }
          ]
        }
      },
      "id": "273cc916-4c40-432d-85a8-0e649ab1f1a5",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ],
      "notes": "Recebe: unique_id (string), assignee_id (number), note (string, opcional)"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst parts = (input.unique_id || '').split('-');\n\nif (parts.length < 3) {\n  throw new Error('unique_id inválido: ' + input.unique_id);\n}\n\nconst note = (input.note || '').trim();\n\nreturn {\n  json: {\n    account_id:      parseInt(parts[0]),\n    inbox_id:        parseInt(parts[1]),\n    conversation_id: parseInt(parts[2]),\n    assignee_id:     parseInt(input.assignee_id),\n    note:            note,\n    unique_id:       input.unique_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "e9838be4-536c-4eec-910f-119ad121a74a",
      "name": "Parse_IDs",
      "notes": "Valida e extrai account_id, inbox_id, conversation_id do unique_id. Lança erro se inválido. Preserva note."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT base_url, user_token FROM system_projects WHERE account_id = {{ $json.account_id }} AND is_active = true LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        432,
        0
      ],
      "id": "c45ea536-1cfd-4d4d-b4d2-8a78d42d4604",
      "name": "Get_Config",
      "credentials": {
        "postgres": {
          "id": "YeIX3GgiXLm97LoO",
          "name": "DB.NEW-SYSTEM"
        }
      },
      "notes": "Busca base_url e user_token do projeto ativo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "guard-config",
              "leftValue": "={{ $json.base_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        656,
        0
      ],
      "id": "a511bec2-d79e-4de1-a1bf-3b0bfe908bbb",
      "name": "Filter_Config",
      "notes": "⛔ Para execução silenciosamente se projeto não encontrado ou inativo"
    },
    {
      "parameters": {
        "url": "={{ $('Get_Config').item.json.base_url }}/api/v1/accounts/{{ $('Parse_IDs').item.json.account_id }}/agents/{{ $('Parse_IDs').item.json.assignee_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Get_Config').item.json.user_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        0
      ],
      "id": "838033f4-108f-4c64-b4f0-f8a93024a4c9",
      "name": "GET_Agent",
      "notes": "Busca nome do agente pelo assignee_id para montar o @mention"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get_Config').item.json.base_url }}/api/v1/accounts/{{ $('Parse_IDs').item.json.account_id }}/conversations/{{ $('Parse_IDs').item.json.conversation_id }}/assignments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Get_Config').item.json.user_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ assignee_id: $('Parse_IDs').item.json.assignee_id }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        0
      ],
      "id": "3d78c30d-0566-4c71-bf55-0628d02b90fb",
      "name": "POST_Assign",
      "notes": "Atribui a conversa ao agente"
    },
    {
      "parameters": {
        "jsCode": "const agentBody   = $('GET_Agent').item.json.body || {};\nconst agentName   = agentBody.name || 'agente';\nconst customNote  = ($('Parse_IDs').item.json.note || '').trim();\n\nconst defaultNote = 'Você foi atribuído(a) a esta conversa.';\nconst noteText    = customNote || defaultNote;\n\nconst content = `@${agentName} ${noteText}`;\n\nreturn {\n  json: {\n    content,\n    agent_name: agentName\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        0
      ],
      "id": "aa04d0b1-14e0-44a4-ae28-37fcad59e05e",
      "name": "Build_Note",
      "notes": "Monta conteúdo da nota privada com @mention. Usa note customizada ou fallback padrão."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get_Config').item.json.base_url }}/api/v1/accounts/{{ $('Parse_IDs').item.json.account_id }}/conversations/{{ $('Parse_IDs').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $('Get_Config').item.json.user_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, message_type: 'outgoing', private: true }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        0
      ],
      "id": "2d9e4dfb-e04a-4f05-be88-b9e0307930f8",
      "name": "POST_Private_Note",
      "notes": "Envia nota privada com @mention do agente atribuído"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r01",
              "name": "success",
              "value": "={{ $('POST_Assign').item.json.statusCode >= 200 && $('POST_Assign').item.json.statusCode < 300 }}",
              "type": "boolean"
            },
            {
              "id": "r02",
              "name": "message",
              "value": "={{ $('POST_Assign').item.json.statusCode >= 200 && $('POST_Assign').item.json.statusCode < 300 ? 'Conversa atribuída e nota privada enviada com @' + $('Build_Note').item.json.agent_name + '.' : 'Erro ao atribuir conversa: ' + $('POST_Assign').item.json.statusCode }}",
              "type": "string"
            },
            {
              "id": "r03",
              "name": "assignee",
              "value": "={{ $('POST_Assign').item.json.body?.meta?.assignee || {} }}",
              "type": "object"
            },
            {
              "id": "r04",
              "name": "note_sent",
              "value": "={{ $('POST_Private_Note').item.json.statusCode >= 200 && $('POST_Private_Note').item.json.statusCode < 300 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        0
      ],
      "id": "9fc5fc77-55fb-497a-9d22-1cf5dd144917",
      "name": "SET_RESPONSE",
      "notes": "Retorna: success, message, assignee e note_sent"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Parse_IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse_IDs": {
      "main": [
        [
          {
            "node": "Get_Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Config": {
      "main": [
        [
          {
            "node": "Filter_Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_Config": {
      "main": [
        [
          {
            "node": "GET_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_Agent": {
      "main": [
        [
          {
            "node": "POST_Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST_Assign": {
      "main": [
        [
          {
            "node": "Build_Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Note": {
      "main": [
        [
          {
            "node": "POST_Private_Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST_Private_Note": {
      "main": [
        [
          {
            "node": "SET_RESPONSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "TaLOAW8gj0JIGTwW",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "unique_id": "82-130-1",
          "assignee_id": "212",
          "note": "Favor verificar o histórico antes de responder."
        }
      }
    ]
  },
  "versionId": "892ae75d-48fa-496b-8ba1-1d88be90484a",
  "activeVersionId": "892ae75d-48fa-496b-8ba1-1d88be90484a",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-01T04:50:58.854Z",
      "createdAt": "2026-05-01T04:50:58.854Z",
      "role": "workflow:owner",
      "workflowId": "tsGH3L6FaXe3xo6d",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-11T03:00:37.191Z",
    "createdAt": "2026-06-11T03:00:15.325Z",
    "versionId": "892ae75d-48fa-496b-8ba1-1d88be90484a",
    "workflowId": "tsGH3L6FaXe3xo6d",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "unique_id"
              },
              {
                "name": "assignee_id"
              },
              {
                "name": "note"
              }
            ]
          }
        },
        "id": "273cc916-4c40-432d-85a8-0e649ab1f1a5",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          0,
          0
        ],
        "notes": "Recebe: unique_id (string), assignee_id (number), note (string, opcional)"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.item.json;\nconst parts = (input.unique_id || '').split('-');\n\nif (parts.length < 3) {\n  throw new Error('unique_id inválido: ' + input.unique_id);\n}\n\nconst note = (input.note || '').trim();\n\nreturn {\n  json: {\n    account_id:      parseInt(parts[0]),\n    inbox_id:        parseInt(parts[1]),\n    conversation_id: parseInt(parts[2]),\n    assignee_id:     parseInt(input.assignee_id),\n    note:            note,\n    unique_id:       input.unique_id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ],
        "id": "e9838be4-536c-4eec-910f-119ad121a74a",
        "name": "Parse_IDs",
        "notes": "Valida e extrai account_id, inbox_id, conversation_id do unique_id. Lança erro se inválido. Preserva note."
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT base_url, user_token FROM system_projects WHERE account_id = {{ $json.account_id }} AND is_active = true LIMIT 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          432,
          0
        ],
        "id": "c45ea536-1cfd-4d4d-b4d2-8a78d42d4604",
        "name": "Get_Config",
        "credentials": {
          "postgres": {
            "id": "YeIX3GgiXLm97LoO",
            "name": "DB.NEW-SYSTEM"
          }
        },
        "notes": "Busca base_url e user_token do projeto ativo"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "guard-config",
                "leftValue": "={{ $json.base_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          656,
          0
        ],
        "id": "a511bec2-d79e-4de1-a1bf-3b0bfe908bbb",
        "name": "Filter_Config",
        "notes": "⛔ Para execução silenciosamente se projeto não encontrado ou inativo"
      },
      {
        "parameters": {
          "url": "={{ $('Get_Config').item.json.base_url }}/api/v1/accounts/{{ $('Parse_IDs').item.json.account_id }}/agents/{{ $('Parse_IDs').item.json.assignee_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Get_Config').item.json.user_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          848,
          0
        ],
        "id": "838033f4-108f-4c64-b4f0-f8a93024a4c9",
        "name": "GET_Agent",
        "notes": "Busca nome do agente pelo assignee_id para montar o @mention"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Get_Config').item.json.base_url }}/api/v1/accounts/{{ $('Parse_IDs').item.json.account_id }}/conversations/{{ $('Parse_IDs').item.json.conversation_id }}/assignments",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Get_Config').item.json.user_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ assignee_id: $('Parse_IDs').item.json.assignee_id }) }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1088,
          0
        ],
        "id": "3d78c30d-0566-4c71-bf55-0628d02b90fb",
        "name": "POST_Assign",
        "notes": "Atribui a conversa ao agente"
      },
      {
        "parameters": {
          "jsCode": "const agentBody   = $('GET_Agent').item.json.body || {};\nconst agentName   = agentBody.name || 'agente';\nconst customNote  = ($('Parse_IDs').item.json.note || '').trim();\n\nconst defaultNote = 'Você foi atribuído(a) a esta conversa.';\nconst noteText    = customNote || defaultNote;\n\nconst content = `@${agentName} ${noteText}`;\n\nreturn {\n  json: {\n    content,\n    agent_name: agentName\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1328,
          0
        ],
        "id": "aa04d0b1-14e0-44a4-ae28-37fcad59e05e",
        "name": "Build_Note",
        "notes": "Monta conteúdo da nota privada com @mention. Usa note customizada ou fallback padrão."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Get_Config').item.json.base_url }}/api/v1/accounts/{{ $('Parse_IDs').item.json.account_id }}/conversations/{{ $('Parse_IDs').item.json.conversation_id }}/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "api_access_token",
                "value": "={{ $('Get_Config').item.json.user_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ content: $json.content, message_type: 'outgoing', private: true }) }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1568,
          0
        ],
        "id": "2d9e4dfb-e04a-4f05-be88-b9e0307930f8",
        "name": "POST_Private_Note",
        "notes": "Envia nota privada com @mention do agente atribuído"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r01",
                "name": "success",
                "value": "={{ $('POST_Assign').item.json.statusCode >= 200 && $('POST_Assign').item.json.statusCode < 300 }}",
                "type": "boolean"
              },
              {
                "id": "r02",
                "name": "message",
                "value": "={{ $('POST_Assign').item.json.statusCode >= 200 && $('POST_Assign').item.json.statusCode < 300 ? 'Conversa atribuída e nota privada enviada com @' + $('Build_Note').item.json.agent_name + '.' : 'Erro ao atribuir conversa: ' + $('POST_Assign').item.json.statusCode }}",
                "type": "string"
              },
              {
                "id": "r03",
                "name": "assignee",
                "value": "={{ $('POST_Assign').item.json.body?.meta?.assignee || {} }}",
                "type": "object"
              },
              {
                "id": "r04",
                "name": "note_sent",
                "value": "={{ $('POST_Private_Note').item.json.statusCode >= 200 && $('POST_Private_Note').item.json.statusCode < 300 }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1808,
          0
        ],
        "id": "9fc5fc77-55fb-497a-9d22-1cf5dd144917",
        "name": "SET_RESPONSE",
        "notes": "Retorna: success, message, assignee e note_sent"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Parse_IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse_IDs": {
        "main": [
          [
            {
              "node": "Get_Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_Config": {
        "main": [
          [
            {
              "node": "Filter_Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter_Config": {
        "main": [
          [
            {
              "node": "GET_Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET_Agent": {
        "main": [
          [
            {
              "node": "POST_Assign",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST_Assign": {
        "main": [
          [
            {
              "node": "Build_Note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build_Note": {
        "main": [
          [
            {
              "node": "POST_Private_Note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "POST_Private_Note": {
        "main": [
          [
            {
              "node": "SET_RESPONSE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "System AI SIM",
    "name": "Version 892ae75d",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    }
  ]
}