workflows/FLUXO_-_BASE_DE_DADOS_DRIVER.json
{
  "updatedAt": "2026-06-10T12:44:16.526Z",
  "createdAt": "2026-06-02T20:43:49.308Z",
  "id": "4QLp1g1voozb1PWF",
  "name": "FLUXO - BASE DE DADOS DRIVER",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1kvzaaq54_NsvFvM9k4-dIc5BEJ12l34z' in parents and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType)"
            },
            {
              "name": "pageSize",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        -224
      ],
      "id": "af1aacf3-9e48-4299-9f50-16635eb9eb01",
      "name": "HTTP_Listar_PDFs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "d7ammCqjFvQIyVRc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -528,
        -224
      ],
      "id": "24e01e96-c065-415c-9379-80a81d70e601",
      "name": "Split_Arquivos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        -224
      ],
      "id": "6a7236f2-3101-4bdb-a3a6-faa30a86d456",
      "name": "Loop_Arquivos"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "alt",
              "value": "media"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -224
      ],
      "id": "28979371-c3ef-4139-a5c6-72c5f0ee43b3",
      "name": "HTTP_Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "d7ammCqjFvQIyVRc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "enviar_pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        144,
        -224
      ],
      "id": "065fab35-2659-4ce3-8f04-d0ad57ec3c5f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  let text = item.json?.text || '';\n\n  text = text\n    .replace(/\\x00/g, '')\n    .replace(/[\\uD800-\\uDFFF]/g, '')\n    .replace(/[\\x01-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, '')\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  item.json.text     = text;\n  item.json.source   = $('Loop_Arquivos').item.json.name;\n  item.json.drive_id = $('Loop_Arquivos').item.json.id;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -432
      ],
      "id": "a137fc62-fbbf-4eb0-9935-d2f0fbfcf389",
      "name": "Code_Sanitize"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_kleiloes",
          "mode": "list",
          "cachedResultName": "documents_kleiloes"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1184,
        -160
      ],
      "id": "01a6e30b-a3dd-438a-be84-a3807bcfa134",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "DIvdWsRElgBOL8VJ",
          "name": "K - Leilões.rag"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $json.source }}"
              },
              {
                "name": "drive_id",
                "value": "={{ $json.drive_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1472,
        144
      ],
      "id": "a21416f0-2f4b-4ad8-9feb-4a73c34a91a0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        144
      ],
      "id": "8069f7fe-981f-42ce-9186-69dde4b5f622",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0kAQNkLmjarAHH8S",
          "name": "Open - AI"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1648,
        144
      ],
      "id": "04397800-7b86-4e56-84a2-f277d77525de",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "OK",
              "type": "string"
            },
            {
              "id": "arquivo",
              "name": "arquivo",
              "value": "={{ $('Loop_Arquivos').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -144
      ],
      "id": "751319e4-5468-4b2c-8561-d24a919907b4",
      "name": "Response"
    },
    {
      "parameters": {
        "formTitle": "enviar arquivo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "enviar pdf",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        960,
        -160
      ],
      "id": "22597d4f-8a65-46c9-bca1-2487bbf40ef5",
      "name": "On form submission",
      "webhookId": "961f4b41-2125-4450-bfba-f2b8f1e429c0"
    },
    {
      "parameters": {
        "formTitle": "Enviar documento KLeilões",
        "formFields": {
          "values": [
            {
              "fieldLabel": "enviar pdf",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        1584,
        656
      ],
      "id": "4c51bbb6-ad62-4784-bf00-5e8702acc99c",
      "name": "On form submission1",
      "webhookId": "554762b6-fbec-4713-92ab-0a59f44c4e69"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_kleiloes",
          "mode": "list",
          "cachedResultName": "documents_kleiloes"
        },
        "options": {
          "queryName": "match_documents_kleiloes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2032,
        656
      ],
      "id": "a40e8407-819d-4c0d-b43e-eab3b4db4faa",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "DIvdWsRElgBOL8VJ",
          "name": "K - Leilões.rag"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "guia_participante_kleiloes"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2208,
        880
      ],
      "id": "17f4a2c5-fee1-41e9-9526-20545b839eb1",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2032,
        1040
      ],
      "id": "1c283830-18d9-457a-9964-399502e06c46",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "0kAQNkLmjarAHH8S",
          "name": "Open - AI"
        }
      }
    }
  ],
  "connections": {
    "HTTP_Listar_PDFs": {
      "main": [
        [
          {
            "node": "Split_Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Arquivos": {
      "main": [
        [
          {
            "node": "Loop_Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop_Arquivos": {
      "main": [
        [],
        [
          {
            "node": "HTTP_Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP_Download": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_Sanitize": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "Response": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7a7d6062-212f-4425-9a93-f400669d0d36",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-02T20:43:49.308Z",
      "createdAt": "2026-06-02T20:43:49.308Z",
      "role": "workflow:owner",
      "workflowId": "4QLp1g1voozb1PWF",
      "projectId": "biUQguab5U7Obw0N"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-06-10T12:30:02.035Z",
      "createdAt": "2026-06-10T12:30:02.035Z",
      "id": "dQiugrS0okCvZHoj",
      "name": "github"
    }
  ]
}